<a href="https://colab.research.google.com/github/YRLT/Experiment_result_save/blob/main/%E2%80%9CEvaluating_position_of_TAPAS_on_the_Tabfact_test_set_ipynb%E2%80%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get update -qq 2>&1 > /dev/null
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!add-apt-repository ppa:alessandro-strada/google-drive-ocamlfuse-beta
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse

E: Package 'python-software-properties' has no installation candidate
Fatal Python error: initsite: Failed to import the site module
Traceback (most recent call last):
  File "/usr/lib/python3.7/site.py", line 596, in <module>
Traceback (most recent call last):
  File "/usr/bin/add-apt-repository", line 109, in <module>
    distro = aptsources.distro.get_distro()
    main()
  File "/usr/lib/python3.7/site.py", line 583, in main
    known_paths = addsitepackages(known_paths)
  File "/usr/lib/python3/dist-packages/aptsources/distro.py", line 590, in get_distro
  File "/usr/lib/python3.7/site.py", line 366, in addsitepackages
    addsitedir(sitedir, known_paths)
    lsb_result = _lsb_release()
  File "/usr/lib/python3/dist-packages/aptsources/distro.py", line 479, in _lsb_release
    out = Popen(['lsb_release', '-idrc'], stdout=PIPE).communicate()[0]
  File "/usr/lib/python3.7/site.py", line 213, in addsitedir
    addpackage(sitedir, name, known_paths)
  File "/usr/lib/python3.6/subprocess.py", line 850, in communicate
  File "/usr/lib/python3.7/site.py", line 174, in addpackage
    exec(line)
  File "<string>", line 1, in <module>
  File "/usr/lib/python3.7/importlib/util.py", line 14, in <module>
    from contextlib import contextmanager
  File "/usr/lib/python3.7/contextlib.py", line 6, in <module>
    stdout = self.stdout.read()
KeyboardInterrupt
    from functools import wraps
  File "/usr/lib/python3.7/functools.py", line 409, in <module>
    _CacheInfo = namedtuple("CacheInfo", ["hits", "misses", "maxsize", "currsize"])
  File "/usr/lib/python3.7/collections/__init__.py", line 466, in namedtuple
    result = type(typename, (tuple,), class_namespace)
KeyboardInterrupt
Selecting previously unselected package google-drive-ocamlfuse.
(Reading database ... 160975 files and directories currently installed.)
Preparing to unpack .../google-drive-ocamlfuse_0.7.24-0ubuntu1~ubuntu18.04.1_amd64.deb ...
Unpacking google-drive-ocamlfuse (0.7.24-0ubuntu1~ubuntu18.04.1) ...
Setting up google-drive-ocamlfuse (0.7.24-0ubuntu1~ubuntu18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [ ]:
! google-drive-ocamlfuse -cc

Clearing cache...done

In [ ]:
!echo $'#!/bin/sh\necho $* > /dev/stderr' > xdg-open
!chmod 755 xdg-open
!env PATH=`pwd`:$PATH google-drive-ocamlfuse

## Introduction

In this notebook, we are going to run `TapasForSequenceClassification`, a PyTorch/Transformers implementation of the [Tapas algorithm](https://arxiv.org/abs/2004.02349) by Google AI on the test set of [TabFact](https://github.com/wenhuchen/Table-Fact-Checking), a large dataset for table entailment (which is included in the HuggingFace [datasets library](https://github.com/huggingface/datasets)). In this way, we can verify whether our implementation is consistent with the results reported in the paper.

* Paper (which is a follow-up on the original TAPAS paper): https://arxiv.org/abs/2010.00571
* Tabfact paper: https://arxiv.org/abs/1909.02164

Note that `TapasForSequenceClassification` is really similar to `BertForSequenceClassification` (i.e. it adds a linear layer on top of the pooled output). The difference between the two is that for TAPAS, you need to use `TapasTokenizer` to prepare table-question pairs for the model instead of regular sequences.

## Setting up environment

Make sure to set runtime to GPU.
We install the `transformers` library from source, as well as the soft dependency on `torch-scatter`:

In [ ]:
! rm -r transformers
! git clone https://github.com/huggingface/transformers.git
! cd transformers
! pip install ./transformers

rm: cannot remove 'transformers': No such file or directory
Cloning into 'transformers'...
remote: Enumerating objects: 55, done.
remote: Counting objects: 100% (55/55), done.
remote: Compressing objects: 100% (47/47), done.
remote: Total 67076 (delta 22), reused 19 (delta 5), pack-reused 67021
Receiving objects: 100% (67076/67076), 50.00 MiB | 18.85 MiB/s, done.
Resolving deltas: 100% (47649/47649), done.
Processing ./transformers
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers==4.5.0.dev0) (3.0.12)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers==4.5.0.dev0) (20.9)
Collecting sacremoses
  Downloading https://files.pythonhosted.org/packages/7d/34/09d19aff26edcc8eb2a01bed8e98f13a1537005d31e95233fd48216eed10/sacremoses-0.0.43.tar.gz (883kB)
     |████████████████████████████████| 890kB 4.3MB/s
Collecting tokenizers<0.11,>=0.10.1
  Downloading https://files.pythonhosted.org/packages/71/23/2ddc317b2121117bf34dd00f5b0de194158f2a44ee2bf5e47c7166878a97/tokenizers-0.10.1-cp37-cp37m-manylinux2010_x86_64.whl (3.2MB)
     |████████████████████████████████| 3.2MB 39.9MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers==4.5.0.dev0) (2.23.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers==4.5.0.dev0) (2019.12.20)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers==4.5.0.dev0) (1.19.5)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers==4.5.0.dev0) (4.41.1)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from transformers==4.5.0.dev0) (3.7.2)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->transformers==4.5.0.dev0) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers==4.5.0.dev0) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers==4.5.0.dev0) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers==4.5.0.dev0) (1.0.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==4.5.0.dev0) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==4.5.0.dev0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==4.5.0.dev0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==4.5.0.dev0) (2.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers==4.5.0.dev0) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers==4.5.0.dev0) (3.7.4.3)
Building wheels for collected packages: transformers
  Building wheel for transformers (PEP 517) ... done
  Created wheel for transformers: filename=transformers-4.5.0.dev0-cp37-none-any.whl size=1972345 sha256=3ef301a3363751874994d7955e6c3b08c040961f4bfd9d9583989e1565892011
  Stored in directory: /tmp/pip-ephem-wheel-cache-hgkk34qn/wheels/23/19/dd/2561a4e47240cf6b307729d58e56f8077dd0c698f5992216cf
Successfully built transformers
Building wheels for collected packages: sacremoses
  Building wheel for sacremoses (setup.py) ... done
  Created wheel for sacremoses: filename=sacremoses-0.0.43-cp37-none-any.whl size=893262 sha256=b8be4f09f0e75888f11b3d85397202ed113635d5c825b6e28dd1c3afd1e3d78f
  Stored in directory: /root/.cache/pip/wheels/29/3c/fd/7ce5c3f0666dab31a50123635e6fb5e19ceb42ce38d4e58f45
Successfully built sacremoses
Installing collected packages: sacremoses, tokenizers, transformers
Successfully installed sacremoses-0.0.43 tokenizers-0.10.1 transformers-4.5.0.dev0

In [ ]:
! pip install torch-scatter==2.0.6 -f https://pytorch-geometric.com/whl/torch-1.8.0+cu101.html

import torch

Looking in links: https://pytorch-geometric.com/whl/torch-1.8.0+cu101.html
Collecting torch-scatter==2.0.6
  Downloading https://pytorch-geometric.com/whl/torch-1.8.0%2Bcu101/torch_scatter-2.0.6-cp37-cp37m-linux_x86_64.whl (2.5MB)
     |████████████████████████████████| 2.6MB 4.4MB/s
Installing collected packages: torch-scatter
Successfully installed torch-scatter-2.0.6

We also install the datasets library from source:

In [ ]:
! rm -r datasets
! git clone https://github.com/huggingface/datasets.git
! cd datasets
! pip install ./datasets

rm: cannot remove 'datasets': No such file or directory
Cloning into 'datasets'...
remote: Enumerating objects: 142, done.
remote: Counting objects: 100% (142/142), done.
remote: Compressing objects: 100% (120/120), done.
remote: Total 34432 (delta 63), reused 38 (delta 13), pack-reused 34290
Receiving objects: 100% (34432/34432), 49.30 MiB | 18.27 MiB/s, done.
Resolving deltas: 100% (13139/13139), done.
Processing ./datasets
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from datasets==1.4.1.dev0) (1.19.5)
Requirement already satisfied: pyarrow>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from datasets==1.4.1.dev0) (3.0.0)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from datasets==1.4.1.dev0) (0.3.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from datasets==1.4.1.dev0) (1.1.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from datasets==1.4.1.dev0) (2.23.0)
Requirement already satisfied: tqdm<4.50.0,>=4.27 in /usr/local/lib/python3.7/dist-packages (from datasets==1.4.1.dev0) (4.41.1)
Collecting xxhash
  Downloading https://files.pythonhosted.org/packages/e7/27/1c0b37c53a7852f1c190ba5039404d27b3ae96a55f48203a74259f8213c9/xxhash-2.0.0-cp37-cp37m-manylinux2010_x86_64.whl (243kB)
     |████████████████████████████████| 245kB 4.1MB/s
Requirement already satisfied: multiprocess in /usr/local/lib/python3.7/dist-packages (from datasets==1.4.1.dev0) (0.70.11.1)
Collecting fsspec
  Downloading https://files.pythonhosted.org/packages/91/0d/a6bfee0ddf47b254286b9bd574e6f50978c69897647ae15b14230711806e/fsspec-0.8.7-py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 15.3MB/s
Collecting huggingface_hub<0.1.0
  Downloading https://files.pythonhosted.org/packages/81/db/6127470a04b6f9de82e4e8d55d9b971b7ed9d6e04a0ef91883f2e15d4078/huggingface_hub-0.0.6-py3-none-any.whl
Requirement already satisfied: importlib_metadata in /usr/local/lib/python3.7/dist-packages (from datasets==1.4.1.dev0) (3.7.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets==1.4.1.dev0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets==1.4.1.dev0) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->datasets==1.4.1.dev0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->datasets==1.4.1.dev0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->datasets==1.4.1.dev0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->datasets==1.4.1.dev0) (2020.12.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from huggingface_hub<0.1.0->datasets==1.4.1.dev0) (3.0.12)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib_metadata->datasets==1.4.1.dev0) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib_metadata->datasets==1.4.1.dev0) (3.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->datasets==1.4.1.dev0) (1.15.0)
Building wheels for collected packages: datasets
  Building wheel for datasets (setup.py) ... done
  Created wheel for datasets: filename=datasets-1.4.1.dev0-cp37-none-any.whl size=189541 sha256=ae1b1a013a55b2d4a9b64defb6540881cc88956a00f665b01fcfe96b30145523
  Stored in directory: /tmp/pip-ephem-wheel-cache-0cdv6e6o/wheels/d7/33/59/8f64453f60990c3158cc14272127d74a1f77d9919b010387d1
Successfully built datasets
Installing collected packages: xxhash, fsspec, huggingface-hub, datasets
Successfully installed datasets-1.4.1.dev0 fsspec-0.8.7 huggingface-hub-0.0.6 xxhash-2.0.0

In [ ]:
import torch
torch.__version__

'1.8.0+cu101'

In [ ]:
! nvidia-smi
!sudo lsb_release -a

Thu Mar 18 13:37:48 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.56       Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla P100-PCIE...  Off  | 00000000:00:04.0 Off |                    0 |
| N/A   41C    P0    28W / 250W |      0MiB / 16280MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.5 LTS
Release:	18.04
Codename:	bionic

In [ ]:
!sudo fuser /dev/nvidia*
# !kill -9 1226

## Loading the model

Here we load in a base-sized TAPAS model, which was fine-tuned on TabFact, and move it to GPU (if available):

In [ ]:
from transformers import TapasForSequenceClassification
import torch

device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")

model = TapasForSequenceClassification.from_pretrained("google/tapas-base-finetuned-tabfact")
model.to(device)

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=1452.0, style=ProgressStyle(description…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=442778215.0, style=ProgressStyle(descri…

TapasForSequenceClassification(
  (tapas): TapasModel(
    (embeddings): TapasEmbeddings(
      (word_embeddings): Embedding(30522, 768, padding_idx=0)
      (position_embeddings): Embedding(1024, 768)
      (token_type_embeddings_0): Embedding(3, 768)
      (token_type_embeddings_1): Embedding(256, 768)
      (token_type_embeddings_2): Embedding(256, 768)
      (token_type_embeddings_3): Embedding(2, 768)
      (token_type_embeddings_4): Embedding(256, 768)
      (token_type_embeddings_5): Embedding(256, 768)
      (token_type_embeddings_6): Embedding(10, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
      (dropout): Dropout(p=0.07, inplace=False)
    )
    (encoder): TapasEncoder(
      (layer): ModuleList(
        (0): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (1): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (2): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (3): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (4): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (5): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (6): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (7): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (8): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (9): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (10): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
        (11): TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.0, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.07, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.07, inplace=False)
          )
        )
      )
    )
    (pooler): TapasPooler(
      (dense): Linear(in_features=768, out_features=768, bias=True)
      (activation): Tanh()
    )
  )
  (dropout): Dropout(p=0.07, inplace=False)
  (classifier): Linear(in_features=768, out_features=2, bias=True)
)

## Preparing the data

Here we read in the test set of the TabFact dataset, on which we are going to evaluate the fine-tuned checkpoint.

In [ ]:
from datasets import load_dataset

dataset = load_dataset('tab_fact', 'tab_fact', split='test')

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=2221.0, style=ProgressStyle(description…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=1340.0, style=ProgressStyle(description…

Downloading and preparing dataset tab_fact/tab_fact (download: 187.41 MiB, generated: 121.30 MiB, post-processed: Unknown size, total: 308.71 MiB) to /root/.cache/huggingface/datasets/tab_fact/tab_fact/1.0.0/bd64c4ee1b4127f8377f1817669219ec36aaf65cb8c78d7c995902e25ef362b6...

HBox(children=(FloatProgress(value=1.0, bar_style='info', description='Downloading', max=1.0, style=ProgressSt…

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

Dataset tab_fact downloaded and prepared to /root/.cache/huggingface/datasets/tab_fact/tab_fact/1.0.0/bd64c4ee1b4127f8377f1817669219ec36aaf65cb8c78d7c995902e25ef362b6. Subsequent calls will reuse this data.

In [ ]:
dataset.column_names

['id', 'label', 'statement', 'table_caption', 'table_id', 'table_text']

Each example in the TabFact dataset is a statement about a table, and the label indicates whether the statement is supported (1) or refuted (0) by the contents of the table. So it's a binary classification problem. 

Let's visualize an example:

In [ ]:
import pandas as pd

# let's take a random example
example = dataset[0]
id2label = {0: "REFUTES", 1: "SUPPORTS"}

data = example['table_text']

# convert table_text into a Pandas dataframe
table1 = pd.DataFrame([x.split('#') for x in data.split('\n')[1:-2]], columns=[x for x in data.split('\n')[0].split('#')])
table2 = pd.DataFrame([x.split('#') for x in data.split('\n')[-2:-1]], columns=[x for x in data.split('\n')[0].split('#')])
display(table1)
display(table2)
table = pd.concat([table1,table2],axis = 0)
display(table)
print("Statement:", example['statement'])
print("Label:", id2label[example['label']])

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4

  tournament wins top - 5 top - 10 top - 25 events cuts made
0     totals    1       5        8       12     18        16

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
0                 totals    1       5        8       12     18        16

Statement: tony lema be in the top 5 for the master tournament , the us open , and the open championship
Label: SUPPORTS

We write the logic to turn the `table_text` column into a Pandas dataframe into a function:

In [ ]:
def read_text_as_pandas_table(table_text: str):
    table = pd.DataFrame([x.split('#') for x in table_text.split('\n')[1:-1]], columns=[x for x in table_text.split('\n')[0].split('#')]).fillna('')
    table = table.astype(str)
    display(table)
    return table

In [ ]:
def read_text_as_pandas_table_with_shuffle0(table_text: str):
    table1 = pd.DataFrame([x.split('#') for x in table_text.split('\n')[1:-2]], columns=[x for x in table_text.split('\n')[0].split('#')]).fillna('')
    table1 = table1.sample(frac = 1, axis = 0)
    table2 = pd.DataFrame([x.split('#') for x in data.split('\n')[-2:-1]], columns=[x for x in data.split('\n')[0].split('#')])
    table = pd.concat([table1,table2],axis=0,ignore_index = True)
    table.reset_index(drop=True)
    # display(table)
    table = table.astype(str)
    return table

In [ ]:
def read_text_as_pandas_table_with_shuffle1(table_text: str):
    table = pd.DataFrame([x.split('#') for x in table_text.split('\n')[1:-1]], columns=[x for x in table_text.split('\n')[0].split('#')]).fillna('')
    table = table.sample(frac = 1,axis = 1)
    table = table.astype(str)
    return table

In [ ]:
def read_text_as_pandas_table_with_shuffle01(table_text: str):
    table1 = pd.DataFrame([x.split('#') for x in table_text.split('\n')[1:-2]], columns=[x for x in table_text.split('\n')[0].split('#')]).fillna('')
    table1 = table1.sample(frac = 1, axis = 0)
    table2 = pd.DataFrame([x.split('#') for x in data.split('\n')[-2:-1]], columns=[x for x in data.split('\n')[0].split('#')])
    table = pd.concat([table1,table2],axis=0,ignore_index = True)
    table.reset_index(drop=True)
    table = table.sample(frac = 1,axis = 1)
    table = table.astype(str)
    return table

Let's check if TapasTokenizer can prepare the data correctly:

In [ ]:
from transformers import TapasTokenizer

tokenizer = TapasTokenizer.from_pretrained("google/tapas-base-finetuned-tabfact")

# test on a random example
example = dataset[0]
#inputs = tokenizer(table=read_text_as_pandas_table(example['table_text']),
inputs = tokenizer(table=read_text_as_pandas_table(example['table_text']),
                   queries=example['statement'],
                   padding='max_length')
inputs

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=262028.0, style=ProgressStyle(descripti…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=154.0, style=ProgressStyle(description_…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=490.0, style=ProgressStyle(description_…

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

{'input_ids': [101, 4116, 3393, 2863, 2022, 1999, 1996, 2327, 1019, 2005, 1996, 3040, 2977, 1010, 1996, 2149, 2330, 1010, 1998, 1996, 2330, 2528, 102, 2977, 5222, 2327, 1011, 1019, 2327, 1011, 2184, 2327, 1011, 2423, 2824, 7659, 2081, 5972, 2977, 1014, 1015, 1016, 1018, 1018, 1018, 2149, 2330, 1014, 1016, 1017, 1018, 1020, 1019, 1996, 2330, 2528, 1015, 1016, 1016, 1016, 1017, 1017, 14198, 2528, 1014, 1014, 1015, 1016, 1019, 1018, 21948, 1015, 1019, 1022, 2260, 2324, 2385, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'token_type_ids': [[0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [1, 1, 0, 0, 0, 0, 0], [1, 2, 0, 0, 0, 0, 0], [1, 3, 0, 0, 0, 0, 0], [1, 3, 0, 0, 0, 0, 0], [1, 3, 0, 0, 0, 0, 0], [1, 4, 0, 0, 0, 0, 0], [1, 4, 0, 0, 0, 0, 0], [1, 4, 0, 0, 0, 0, 0], [1, 5, 0, 0, 0, 0, 0], [1, 5, 0, 0, 0, 0, 0], [1, 5, 0, 0, 0, 0, 0], [1, 6, 0, 0, 0, 0, 0], [1, 7, 0, 0, 0, 0, 0], [1, 7, 0, 0, 0, 0, 0], [1, 1, 1, 0, 0, 0, 0], [1, 1, 1, 0, 0, 0, 0], [1, 2, 1, 0, 1, 2, 4], [1, 3, 1, 0, 2, 3, 4], [1, 4, 1, 0, 2, 3, 4], [1, 5, 1, 0, 2, 2, 4], [1, 6, 1, 0, 2, 4, 4], [1, 7, 1, 0, 2, 3, 4], [1, 1, 2, 0, 0, 0, 0], [1, 1, 2, 0, 0, 0, 0], [1, 2, 2, 0, 1, 2, 4], [1, 3, 2, 0, 3, 2, 4], [1, 4, 2, 0, 3, 2, 4], [1, 5, 2, 0, 2, 2, 4], [1, 6, 2, 0, 4, 2, 2], [1, 7, 2, 0, 3, 2, 1], [1, 1, 3, 0, 0, 0, 0], [1, 1, 3, 0, 0, 0, 0], [1, 1, 3, 0, 0, 0, 0], [1, 2, 3, 0, 2, 1, 4], [1, 3, 3, 0, 3, 2, 4], [1, 4, 3, 0, 2, 3, 4], [1, 5, 3, 0, 1, 3, 4], [1, 6, 3, 0, 1, 5, 4], [1, 7, 3, 0, 1, 4, 4], [1, 1, 4, 0, 0, 0, 0], [1, 1, 4, 0, 0, 0, 0], [1, 2, 4, 0, 1, 2, 4], [1, 3, 4, 0, 1, 4, 4], [1, 4, 4, 0, 1, 4, 4], [1, 5, 4, 0, 1, 3, 4], [1, 6, 4, 0, 3, 3, 1], [1, 7, 4, 0, 2, 3, 4], [1, 1, 5, 0, 0, 0, 0], [1, 2, 5, 0, 2, 1, 4], [1, 3, 5, 0, 4, 1, 1], [1, 4, 5, 0, 4, 1, 2], [1, 5, 5, 0, 3, 1, 2], [1, 6, 5, 0, 5, 1, 2], [1, 7, 5, 0, 4, 1, 2], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0]]}

Now let's use the `.map()` functionality of `datasets` to tokenize and prepare for the model the entire test split of the dataset. Note that we tokenize each table-question pair independently (we don't set `batched=True`):

In [ ]:
from datasets import Features, Sequence, ClassLabel, Value, Array2D

# we need to define the features ourselves as the token_type_ids of TAPAS are different from those of BERT 
features = Features({
    'attention_mask': Sequence(Value(dtype='int64')),
    'id': Value(dtype='int32'),
    'input_ids': Sequence(feature=Value(dtype='int64')),
    'label': ClassLabel(names=['refuted', 'entailed']),
    'statement': Value(dtype='string'),
    'table_caption': Value(dtype='string'),
    'table_id': Value(dtype='string'),
    'table_text': Value(dtype='string'),
    'token_type_ids': Array2D(dtype="int64", shape=(512, 7))
})
test = dataset.map(
    lambda e: tokenizer(table=read_text_as_pandas_table(e['table_text']), queries=e['statement'], 
                                       truncation=True,
                                       padding='max_length'),
    features=features
)

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

HBox(children=(FloatProgress(value=0.0, max=12779.0), HTML(value='')))

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

              tournament wins top - 5 top - 10 top - 25 events cuts made
0     masters tournament    0       1        2        4      4         4
1                us open    0       2        3        4      6         5
2  the open championship    1       2        2        2      3         3
3       pga championship    0       0        1        2      5         4
4                 totals    1       5        8       12     18        16

             player         span start tries conv pens drop
0      vaea anitoni  1992 - 2000    44    26    0    0    0
1      paul emerick  2003 - 2012    49    17    0    0    0
2       todd clever       2003 -    51    11    0    0    0
3      philip eloff  2000 - 2007    34    10    0    0    0
4  takudzwa ngwenya       2007 -    27    10    0    0    0
5       chris wyles       2007 -    35    10   14   22    1
6         david fee  2002 - 2005    28     9    0    0    0
7       mike hercus  2002 - 2009    45     9   90   76    4
8     riaan van zyl  2003 - 2004    12     9    0    0    0

             player         span start tries conv pens drop
0      vaea anitoni  1992 - 2000    44    26    0    0    0
1      paul emerick  2003 - 2012    49    17    0    0    0
2       todd clever       2003 -    51    11    0    0    0
3      philip eloff  2000 - 2007    34    10    0    0    0
4  takudzwa ngwenya       2007 -    27    10    0    0    0
5       chris wyles       2007 -    35    10   14   22    1
6         david fee  2002 - 2005    28     9    0    0    0
7       mike hercus  2002 - 2009    45     9   90   76    4
8     riaan van zyl  2003 - 2004    12     9    0    0    0

             player         span start tries conv pens drop
0      vaea anitoni  1992 - 2000    44    26    0    0    0
1      paul emerick  2003 - 2012    49    17    0    0    0
2       todd clever       2003 -    51    11    0    0    0
3      philip eloff  2000 - 2007    34    10    0    0    0
4  takudzwa ngwenya       2007 -    27    10    0    0    0
5       chris wyles       2007 -    35    10   14   22    1
6         david fee  2002 - 2005    28     9    0    0    0
7       mike hercus  2002 - 2009    45     9   90   76    4
8     riaan van zyl  2003 - 2004    12     9    0    0    0

             player         span start tries conv pens drop
0      vaea anitoni  1992 - 2000    44    26    0    0    0
1      paul emerick  2003 - 2012    49    17    0    0    0
2       todd clever       2003 -    51    11    0    0    0
3      philip eloff  2000 - 2007    34    10    0    0    0
4  takudzwa ngwenya       2007 -    27    10    0    0    0
5       chris wyles       2007 -    35    10   14   22    1
6         david fee  2002 - 2005    28     9    0    0    0
7       mike hercus  2002 - 2009    45     9   90   76    4
8     riaan van zyl  2003 - 2004    12     9    0    0    0

             player         span start tries conv pens drop
0      vaea anitoni  1992 - 2000    44    26    0    0    0
1      paul emerick  2003 - 2012    49    17    0    0    0
2       todd clever       2003 -    51    11    0    0    0
3      philip eloff  2000 - 2007    34    10    0    0    0
4  takudzwa ngwenya       2007 -    27    10    0    0    0
5       chris wyles       2007 -    35    10   14   22    1
6         david fee  2002 - 2005    28     9    0    0    0
7       mike hercus  2002 - 2009    45     9   90   76    4
8     riaan van zyl  2003 - 2004    12     9    0    0    0

             player         span start tries conv pens drop
0      vaea anitoni  1992 - 2000    44    26    0    0    0
1      paul emerick  2003 - 2012    49    17    0    0    0
2       todd clever       2003 -    51    11    0    0    0
3      philip eloff  2000 - 2007    34    10    0    0    0
4  takudzwa ngwenya       2007 -    27    10    0    0    0
5       chris wyles       2007 -    35    10   14   22    1
6         david fee  2002 - 2005    28     9    0    0    0
7       mike hercus  2002 - 2009    45     9   90   76    4
8     riaan van zyl  2003 - 2004    12     9    0    0    0

             player         span start tries conv pens drop
0      vaea anitoni  1992 - 2000    44    26    0    0    0
1      paul emerick  2003 - 2012    49    17    0    0    0
2       todd clever       2003 -    51    11    0    0    0
3      philip eloff  2000 - 2007    34    10    0    0    0
4  takudzwa ngwenya       2007 -    27    10    0    0    0
5       chris wyles       2007 -    35    10   14   22    1
6         david fee  2002 - 2005    28     9    0    0    0
7       mike hercus  2002 - 2009    45     9   90   76    4
8     riaan van zyl  2003 - 2004    12     9    0    0    0

             player         span start tries conv pens drop
0      vaea anitoni  1992 - 2000    44    26    0    0    0
1      paul emerick  2003 - 2012    49    17    0    0    0
2       todd clever       2003 -    51    11    0    0    0
3      philip eloff  2000 - 2007    34    10    0    0    0
4  takudzwa ngwenya       2007 -    27    10    0    0    0
5       chris wyles       2007 -    35    10   14   22    1
6         david fee  2002 - 2005    28     9    0    0    0
7       mike hercus  2002 - 2009    45     9   90   76    4
8     riaan van zyl  2003 - 2004    12     9    0    0    0

             player         span start tries conv pens drop
0      vaea anitoni  1992 - 2000    44    26    0    0    0
1      paul emerick  2003 - 2012    49    17    0    0    0
2       todd clever       2003 -    51    11    0    0    0
3      philip eloff  2000 - 2007    34    10    0    0    0
4  takudzwa ngwenya       2007 -    27    10    0    0    0
5       chris wyles       2007 -    35    10   14   22    1
6         david fee  2002 - 2005    28     9    0    0    0
7       mike hercus  2002 - 2009    45     9   90   76    4
8     riaan van zyl  2003 - 2004    12     9    0    0    0

             player         span start tries conv pens drop
0      vaea anitoni  1992 - 2000    44    26    0    0    0
1      paul emerick  2003 - 2012    49    17    0    0    0
2       todd clever       2003 -    51    11    0    0    0
3      philip eloff  2000 - 2007    34    10    0    0    0
4  takudzwa ngwenya       2007 -    27    10    0    0    0
5       chris wyles       2007 -    35    10   14   22    1
6         david fee  2002 - 2005    28     9    0    0    0
7       mike hercus  2002 - 2009    45     9   90   76    4
8     riaan van zyl  2003 - 2004    12     9    0    0    0

   no overall no for series  ...  original air date uk viewers (million)
0          14             1  ...  19 september 2009                 5.77
1          15             2  ...  26 september 2009                 5.94
2          16             3  ...     3 october 2009                 6.09
3          17             4  ...    10 october 2009                 5.69
4          18             5  ...    24 october 2009                 5.53
5          19             6  ...    31 october 2009                 6.14
6          20             7  ...    7 november 2009                 5.62
7          21             8  ...   14 november 2009                 6.16
8          22             9  ...   21 november 2009                 6.30
9          23            10  ...   28 november 2009                 6.02
10         24            11  ...    5 december 2009                 6.01
11         25            12  ...   12 december 2009                 6.01

[12 rows x 7 columns]

   no overall no for series  ...  original air date uk viewers (million)
0          14             1  ...  19 september 2009                 5.77
1          15             2  ...  26 september 2009                 5.94
2          16             3  ...     3 october 2009                 6.09
3          17             4  ...    10 october 2009                 5.69
4          18             5  ...    24 october 2009                 5.53
5          19             6  ...    31 october 2009                 6.14
6          20             7  ...    7 november 2009                 5.62
7          21             8  ...   14 november 2009                 6.16
8          22             9  ...   21 november 2009                 6.30
9          23            10  ...   28 november 2009                 6.02
10         24            11  ...    5 december 2009                 6.01
11         25            12  ...   12 december 2009                 6.01

[12 rows x 7 columns]

   no overall no for series  ...  original air date uk viewers (million)
0          14             1  ...  19 september 2009                 5.77
1          15             2  ...  26 september 2009                 5.94
2          16             3  ...     3 october 2009                 6.09
3          17             4  ...    10 october 2009                 5.69
4          18             5  ...    24 october 2009                 5.53
5          19             6  ...    31 october 2009                 6.14
6          20             7  ...    7 november 2009                 5.62
7          21             8  ...   14 november 2009                 6.16
8          22             9  ...   21 november 2009                 6.30
9          23            10  ...   28 november 2009                 6.02
10         24            11  ...    5 december 2009                 6.01
11         25            12  ...   12 december 2009                 6.01

[12 rows x 7 columns]

   no overall no for series  ...  original air date uk viewers (million)
0          14             1  ...  19 september 2009                 5.77
1          15             2  ...  26 september 2009                 5.94
2          16             3  ...     3 october 2009                 6.09
3          17             4  ...    10 october 2009                 5.69
4          18             5  ...    24 october 2009                 5.53
5          19             6  ...    31 october 2009                 6.14
6          20             7  ...    7 november 2009                 5.62
7          21             8  ...   14 november 2009                 6.16
8          22             9  ...   21 november 2009                 6.30
9          23            10  ...   28 november 2009                 6.02
10         24            11  ...    5 december 2009                 6.01
11         25            12  ...   12 december 2009                 6.01

[12 rows x 7 columns]

   no overall no for series  ...  original air date uk viewers (million)
0          14             1  ...  19 september 2009                 5.77
1          15             2  ...  26 september 2009                 5.94
2          16             3  ...     3 october 2009                 6.09
3          17             4  ...    10 october 2009                 5.69
4          18             5  ...    24 october 2009                 5.53
5          19             6  ...    31 october 2009                 6.14
6          20             7  ...    7 november 2009                 5.62
7          21             8  ...   14 november 2009                 6.16
8          22             9  ...   21 november 2009                 6.30
9          23            10  ...   28 november 2009                 6.02
10         24            11  ...    5 december 2009                 6.01
11         25            12  ...   12 december 2009                 6.01

[12 rows x 7 columns]

   no overall no for series  ...  original air date uk viewers (million)
0          14             1  ...  19 september 2009                 5.77
1          15             2  ...  26 september 2009                 5.94
2          16             3  ...     3 october 2009                 6.09
3          17             4  ...    10 october 2009                 5.69
4          18             5  ...    24 october 2009                 5.53
5          19             6  ...    31 october 2009                 6.14
6          20             7  ...    7 november 2009                 5.62
7          21             8  ...   14 november 2009                 6.16
8          22             9  ...   21 november 2009                 6.30
9          23            10  ...   28 november 2009                 6.02
10         24            11  ...    5 december 2009                 6.01
11         25            12  ...   12 december 2009                 6.01

[12 rows x 7 columns]

   no overall no for series  ...  original air date uk viewers (million)
0          14             1  ...  19 september 2009                 5.77
1          15             2  ...  26 september 2009                 5.94
2          16             3  ...     3 october 2009                 6.09
3          17             4  ...    10 october 2009                 5.69
4          18             5  ...    24 october 2009                 5.53
5          19             6  ...    31 october 2009                 6.14
6          20             7  ...    7 november 2009                 5.62
7          21             8  ...   14 november 2009                 6.16
8          22             9  ...   21 november 2009                 6.30
9          23            10  ...   28 november 2009                 6.02
10         24            11  ...    5 december 2009                 6.01
11         25            12  ...   12 december 2009                 6.01

[12 rows x 7 columns]

   no overall no for series  ...  original air date uk viewers (million)
0          14             1  ...  19 september 2009                 5.77
1          15             2  ...  26 september 2009                 5.94
2          16             3  ...     3 october 2009                 6.09
3          17             4  ...    10 october 2009                 5.69
4          18             5  ...    24 october 2009                 5.53
5          19             6  ...    31 october 2009                 6.14
6          20             7  ...    7 november 2009                 5.62
7          21             8  ...   14 november 2009                 6.16
8          22             9  ...   21 november 2009                 6.30
9          23            10  ...   28 november 2009                 6.02
10         24            11  ...    5 december 2009                 6.01
11         25            12  ...   12 december 2009                 6.01

[12 rows x 7 columns]

   no overall no for series  ...  original air date uk viewers (million)
0          14             1  ...  19 september 2009                 5.77
1          15             2  ...  26 september 2009                 5.94
2          16             3  ...     3 october 2009                 6.09
3          17             4  ...    10 october 2009                 5.69
4          18             5  ...    24 october 2009                 5.53
5          19             6  ...    31 october 2009                 6.14
6          20             7  ...    7 november 2009                 5.62
7          21             8  ...   14 november 2009                 6.16
8          22             9  ...   21 november 2009                 6.30
9          23            10  ...   28 november 2009                 6.02
10         24            11  ...    5 december 2009                 6.01
11         25            12  ...   12 december 2009                 6.01

[12 rows x 7 columns]

   no overall no for series  ...  original air date uk viewers (million)
0          14             1  ...  19 september 2009                 5.77
1          15             2  ...  26 september 2009                 5.94
2          16             3  ...     3 october 2009                 6.09
3          17             4  ...    10 october 2009                 5.69
4          18             5  ...    24 october 2009                 5.53
5          19             6  ...    31 october 2009                 6.14
6          20             7  ...    7 november 2009                 5.62
7          21             8  ...   14 november 2009                 6.16
8          22             9  ...   21 november 2009                 6.30
9          23            10  ...   28 november 2009                 6.02
10         24            11  ...    5 december 2009                 6.01
11         25            12  ...   12 december 2009                 6.01

[12 rows x 7 columns]

                 player league title playoff super cup total
0       mbark boussoufa     11             0         0    11
1         tom de sutter      9             0         0     9
2      guillaume gillet      8             0         0     9
3     marcin wasilewski      8             0         0     8
4       jonathan legear      5             1         0     7
5        nicolás frutos      6             0         0     6
6       thomas chatelle      4             0         0     4
7         roland juhász      4             0         0     4
8       stanislav vlček      4             0         0     4
9          lucas biglia      2             0         0     3
10       dmitri bulykin      3             0         0     3
11            jan polák      2             0         0     3
12        matías suárez      1             0         1     3
13      jelle van damme      3             0         0     3
14  oleksandr iakovenko      2             0         0     2
15        hernán losada      1             0         0     2
16     víctor bernárdez      1             0         0     1
17            bart goor      1             0         0     1
18         nemanja rnić      0             0         0     1

                 player league title playoff super cup total
0       mbark boussoufa     11             0         0    11
1         tom de sutter      9             0         0     9
2      guillaume gillet      8             0         0     9
3     marcin wasilewski      8             0         0     8
4       jonathan legear      5             1         0     7
5        nicolás frutos      6             0         0     6
6       thomas chatelle      4             0         0     4
7         roland juhász      4             0         0     4
8       stanislav vlček      4             0         0     4
9          lucas biglia      2             0         0     3
10       dmitri bulykin      3             0         0     3
11            jan polák      2             0         0     3
12        matías suárez      1             0         1     3
13      jelle van damme      3             0         0     3
14  oleksandr iakovenko      2             0         0     2
15        hernán losada      1             0         0     2
16     víctor bernárdez      1             0         0     1
17            bart goor      1             0         0     1
18         nemanja rnić      0             0         0     1

                 player league title playoff super cup total
0       mbark boussoufa     11             0         0    11
1         tom de sutter      9             0         0     9
2      guillaume gillet      8             0         0     9
3     marcin wasilewski      8             0         0     8
4       jonathan legear      5             1         0     7
5        nicolás frutos      6             0         0     6
6       thomas chatelle      4             0         0     4
7         roland juhász      4             0         0     4
8       stanislav vlček      4             0         0     4
9          lucas biglia      2             0         0     3
10       dmitri bulykin      3             0         0     3
11            jan polák      2             0         0     3
12        matías suárez      1             0         1     3
13      jelle van damme      3             0         0     3
14  oleksandr iakovenko      2             0         0     2
15        hernán losada      1             0         0     2
16     víctor bernárdez      1             0         0     1
17            bart goor      1             0         0     1
18         nemanja rnić      0             0         0     1

                 player league title playoff super cup total
0       mbark boussoufa     11             0         0    11
1         tom de sutter      9             0         0     9
2      guillaume gillet      8             0         0     9
3     marcin wasilewski      8             0         0     8
4       jonathan legear      5             1         0     7
5        nicolás frutos      6             0         0     6
6       thomas chatelle      4             0         0     4
7         roland juhász      4             0         0     4
8       stanislav vlček      4             0         0     4
9          lucas biglia      2             0         0     3
10       dmitri bulykin      3             0         0     3
11            jan polák      2             0         0     3
12        matías suárez      1             0         1     3
13      jelle van damme      3             0         0     3
14  oleksandr iakovenko      2             0         0     2
15        hernán losada      1             0         0     2
16     víctor bernárdez      1             0         0     1
17            bart goor      1             0         0     1
18         nemanja rnić      0             0         0     1

                 player league title playoff super cup total
0       mbark boussoufa     11             0         0    11
1         tom de sutter      9             0         0     9
2      guillaume gillet      8             0         0     9
3     marcin wasilewski      8             0         0     8
4       jonathan legear      5             1         0     7
5        nicolás frutos      6             0         0     6
6       thomas chatelle      4             0         0     4
7         roland juhász      4             0         0     4
8       stanislav vlček      4             0         0     4
9          lucas biglia      2             0         0     3
10       dmitri bulykin      3             0         0     3
11            jan polák      2             0         0     3
12        matías suárez      1             0         1     3
13      jelle van damme      3             0         0     3
14  oleksandr iakovenko      2             0         0     2
15        hernán losada      1             0         0     2
16     víctor bernárdez      1             0         0     1
17            bart goor      1             0         0     1
18         nemanja rnić      0             0         0     1

                 player league title playoff super cup total
0       mbark boussoufa     11             0         0    11
1         tom de sutter      9             0         0     9
2      guillaume gillet      8             0         0     9
3     marcin wasilewski      8             0         0     8
4       jonathan legear      5             1         0     7
5        nicolás frutos      6             0         0     6
6       thomas chatelle      4             0         0     4
7         roland juhász      4             0         0     4
8       stanislav vlček      4             0         0     4
9          lucas biglia      2             0         0     3
10       dmitri bulykin      3             0         0     3
11            jan polák      2             0         0     3
12        matías suárez      1             0         1     3
13      jelle van damme      3             0         0     3
14  oleksandr iakovenko      2             0         0     2
15        hernán losada      1             0         0     2
16     víctor bernárdez      1             0         0     1
17            bart goor      1             0         0     1
18         nemanja rnić      0             0         0     1

                 player league title playoff super cup total
0       mbark boussoufa     11             0         0    11
1         tom de sutter      9             0         0     9
2      guillaume gillet      8             0         0     9
3     marcin wasilewski      8             0         0     8
4       jonathan legear      5             1         0     7
5        nicolás frutos      6             0         0     6
6       thomas chatelle      4             0         0     4
7         roland juhász      4             0         0     4
8       stanislav vlček      4             0         0     4
9          lucas biglia      2             0         0     3
10       dmitri bulykin      3             0         0     3
11            jan polák      2             0         0     3
12        matías suárez      1             0         1     3
13      jelle van damme      3             0         0     3
14  oleksandr iakovenko      2             0         0     2
15        hernán losada      1             0         0     2
16     víctor bernárdez      1             0         0     1
17            bart goor      1             0         0     1
18         nemanja rnić      0             0         0     1

                 player league title playoff super cup total
0       mbark boussoufa     11             0         0    11
1         tom de sutter      9             0         0     9
2      guillaume gillet      8             0         0     9
3     marcin wasilewski      8             0         0     8
4       jonathan legear      5             1         0     7
5        nicolás frutos      6             0         0     6
6       thomas chatelle      4             0         0     4
7         roland juhász      4             0         0     4
8       stanislav vlček      4             0         0     4
9          lucas biglia      2             0         0     3
10       dmitri bulykin      3             0         0     3
11            jan polák      2             0         0     3
12        matías suárez      1             0         1     3
13      jelle van damme      3             0         0     3
14  oleksandr iakovenko      2             0         0     2
15        hernán losada      1             0         0     2
16     víctor bernárdez      1             0         0     1
17            bart goor      1             0         0     1
18         nemanja rnić      0             0         0     1

                 player league title playoff super cup total
0       mbark boussoufa     11             0         0    11
1         tom de sutter      9             0         0     9
2      guillaume gillet      8             0         0     9
3     marcin wasilewski      8             0         0     8
4       jonathan legear      5             1         0     7
5        nicolás frutos      6             0         0     6
6       thomas chatelle      4             0         0     4
7         roland juhász      4             0         0     4
8       stanislav vlček      4             0         0     4
9          lucas biglia      2             0         0     3
10       dmitri bulykin      3             0         0     3
11            jan polák      2             0         0     3
12        matías suárez      1             0         1     3
13      jelle van damme      3             0         0     3
14  oleksandr iakovenko      2             0         0     2
15        hernán losada      1             0         0     2
16     víctor bernárdez      1             0         0     1
17            bart goor      1             0         0     1
18         nemanja rnić      0             0         0     1

                 player league title playoff super cup total
0       mbark boussoufa     11             0         0    11
1         tom de sutter      9             0         0     9
2      guillaume gillet      8             0         0     9
3     marcin wasilewski      8             0         0     8
4       jonathan legear      5             1         0     7
5        nicolás frutos      6             0         0     6
6       thomas chatelle      4             0         0     4
7         roland juhász      4             0         0     4
8       stanislav vlček      4             0         0     4
9          lucas biglia      2             0         0     3
10       dmitri bulykin      3             0         0     3
11            jan polák      2             0         0     3
12        matías suárez      1             0         1     3
13      jelle van damme      3             0         0     3
14  oleksandr iakovenko      2             0         0     2
15        hernán losada      1             0         0     2
16     víctor bernárdez      1             0         0     1
17            bart goor      1             0         0     1
18         nemanja rnić      0             0         0     1

   goal               date  score         result               competition
0     1    5 february 1999  1 - 0          3 - 0        1999 carlsberg cup
1     2   13 february 2000  1 - 0          4 - 0    2000 concacaf gold cup
2     3   3 september 2000  5 - 1          7 - 1  2002 world cup qualifier
3     4        12 may 2002  2 - 1          2 - 1                  friendly
4     5       24 july 2003  1 - 0          2 - 0    2003 concacaf gold cup
5     6       19 june 2004  3 - 0          3 - 0  2006 world cup qualifier
6     7   7 september 2005  2 - 0          5 - 0  2006 world cup qualifier
7     8       24 june 2006  1 - 0  1 - 2 ( aet )       2006 fifa world cup
8     9      28 march 2007  2 - 2          4 - 2                  friendly
9    10  10 september 2008  2 - 0          2 - 1  2010 world cup qualifier
10   11       11 june 2010  1 - 1          1 - 1       2010 fifa world cup
11   12       12 june 2011  1 - 0          4 - 1    2011 concacaf gold cup
12   13    30 october 2013  1 - 0          4 - 2                  friendly

   goal               date  score         result               competition
0     1    5 february 1999  1 - 0          3 - 0        1999 carlsberg cup
1     2   13 february 2000  1 - 0          4 - 0    2000 concacaf gold cup
2     3   3 september 2000  5 - 1          7 - 1  2002 world cup qualifier
3     4        12 may 2002  2 - 1          2 - 1                  friendly
4     5       24 july 2003  1 - 0          2 - 0    2003 concacaf gold cup
5     6       19 june 2004  3 - 0          3 - 0  2006 world cup qualifier
6     7   7 september 2005  2 - 0          5 - 0  2006 world cup qualifier
7     8       24 june 2006  1 - 0  1 - 2 ( aet )       2006 fifa world cup
8     9      28 march 2007  2 - 2          4 - 2                  friendly
9    10  10 september 2008  2 - 0          2 - 1  2010 world cup qualifier
10   11       11 june 2010  1 - 1          1 - 1       2010 fifa world cup
11   12       12 june 2011  1 - 0          4 - 1    2011 concacaf gold cup
12   13    30 october 2013  1 - 0          4 - 2                  friendly

   goal               date  score         result               competition
0     1    5 february 1999  1 - 0          3 - 0        1999 carlsberg cup
1     2   13 february 2000  1 - 0          4 - 0    2000 concacaf gold cup
2     3   3 september 2000  5 - 1          7 - 1  2002 world cup qualifier
3     4        12 may 2002  2 - 1          2 - 1                  friendly
4     5       24 july 2003  1 - 0          2 - 0    2003 concacaf gold cup
5     6       19 june 2004  3 - 0          3 - 0  2006 world cup qualifier
6     7   7 september 2005  2 - 0          5 - 0  2006 world cup qualifier
7     8       24 june 2006  1 - 0  1 - 2 ( aet )       2006 fifa world cup
8     9      28 march 2007  2 - 2          4 - 2                  friendly
9    10  10 september 2008  2 - 0          2 - 1  2010 world cup qualifier
10   11       11 june 2010  1 - 1          1 - 1       2010 fifa world cup
11   12       12 june 2011  1 - 0          4 - 1    2011 concacaf gold cup
12   13    30 october 2013  1 - 0          4 - 2                  friendly

   goal               date  score         result               competition
0     1    5 february 1999  1 - 0          3 - 0        1999 carlsberg cup
1     2   13 february 2000  1 - 0          4 - 0    2000 concacaf gold cup
2     3   3 september 2000  5 - 1          7 - 1  2002 world cup qualifier
3     4        12 may 2002  2 - 1          2 - 1                  friendly
4     5       24 july 2003  1 - 0          2 - 0    2003 concacaf gold cup
5     6       19 june 2004  3 - 0          3 - 0  2006 world cup qualifier
6     7   7 september 2005  2 - 0          5 - 0  2006 world cup qualifier
7     8       24 june 2006  1 - 0  1 - 2 ( aet )       2006 fifa world cup
8     9      28 march 2007  2 - 2          4 - 2                  friendly
9    10  10 september 2008  2 - 0          2 - 1  2010 world cup qualifier
10   11       11 june 2010  1 - 1          1 - 1       2010 fifa world cup
11   12       12 june 2011  1 - 0          4 - 1    2011 concacaf gold cup
12   13    30 october 2013  1 - 0          4 - 2                  friendly

   goal               date  score         result               competition
0     1    5 february 1999  1 - 0          3 - 0        1999 carlsberg cup
1     2   13 february 2000  1 - 0          4 - 0    2000 concacaf gold cup
2     3   3 september 2000  5 - 1          7 - 1  2002 world cup qualifier
3     4        12 may 2002  2 - 1          2 - 1                  friendly
4     5       24 july 2003  1 - 0          2 - 0    2003 concacaf gold cup
5     6       19 june 2004  3 - 0          3 - 0  2006 world cup qualifier
6     7   7 september 2005  2 - 0          5 - 0  2006 world cup qualifier
7     8       24 june 2006  1 - 0  1 - 2 ( aet )       2006 fifa world cup
8     9      28 march 2007  2 - 2          4 - 2                  friendly
9    10  10 september 2008  2 - 0          2 - 1  2010 world cup qualifier
10   11       11 june 2010  1 - 1          1 - 1       2010 fifa world cup
11   12       12 june 2011  1 - 0          4 - 1    2011 concacaf gold cup
12   13    30 october 2013  1 - 0          4 - 2                  friendly

   goal               date  score         result               competition
0     1    5 february 1999  1 - 0          3 - 0        1999 carlsberg cup
1     2   13 february 2000  1 - 0          4 - 0    2000 concacaf gold cup
2     3   3 september 2000  5 - 1          7 - 1  2002 world cup qualifier
3     4        12 may 2002  2 - 1          2 - 1                  friendly
4     5       24 july 2003  1 - 0          2 - 0    2003 concacaf gold cup
5     6       19 june 2004  3 - 0          3 - 0  2006 world cup qualifier
6     7   7 september 2005  2 - 0          5 - 0  2006 world cup qualifier
7     8       24 june 2006  1 - 0  1 - 2 ( aet )       2006 fifa world cup
8     9      28 march 2007  2 - 2          4 - 2                  friendly
9    10  10 september 2008  2 - 0          2 - 1  2010 world cup qualifier
10   11       11 june 2010  1 - 1          1 - 1       2010 fifa world cup
11   12       12 june 2011  1 - 0          4 - 1    2011 concacaf gold cup
12   13    30 october 2013  1 - 0          4 - 2                  friendly

   goal               date  score         result               competition
0     1    5 february 1999  1 - 0          3 - 0        1999 carlsberg cup
1     2   13 february 2000  1 - 0          4 - 0    2000 concacaf gold cup
2     3   3 september 2000  5 - 1          7 - 1  2002 world cup qualifier
3     4        12 may 2002  2 - 1          2 - 1                  friendly
4     5       24 july 2003  1 - 0          2 - 0    2003 concacaf gold cup
5     6       19 june 2004  3 - 0          3 - 0  2006 world cup qualifier
6     7   7 september 2005  2 - 0          5 - 0  2006 world cup qualifier
7     8       24 june 2006  1 - 0  1 - 2 ( aet )       2006 fifa world cup
8     9      28 march 2007  2 - 2          4 - 2                  friendly
9    10  10 september 2008  2 - 0          2 - 1  2010 world cup qualifier
10   11       11 june 2010  1 - 1          1 - 1       2010 fifa world cup
11   12       12 june 2011  1 - 0          4 - 1    2011 concacaf gold cup
12   13    30 october 2013  1 - 0          4 - 2                  friendly

   goal               date  score         result               competition
0     1    5 february 1999  1 - 0          3 - 0        1999 carlsberg cup
1     2   13 february 2000  1 - 0          4 - 0    2000 concacaf gold cup
2     3   3 september 2000  5 - 1          7 - 1  2002 world cup qualifier
3     4        12 may 2002  2 - 1          2 - 1                  friendly
4     5       24 july 2003  1 - 0          2 - 0    2003 concacaf gold cup
5     6       19 june 2004  3 - 0          3 - 0  2006 world cup qualifier
6     7   7 september 2005  2 - 0          5 - 0  2006 world cup qualifier
7     8       24 june 2006  1 - 0  1 - 2 ( aet )       2006 fifa world cup
8     9      28 march 2007  2 - 2          4 - 2                  friendly
9    10  10 september 2008  2 - 0          2 - 1  2010 world cup qualifier
10   11       11 june 2010  1 - 1          1 - 1       2010 fifa world cup
11   12       12 june 2011  1 - 0          4 - 1    2011 concacaf gold cup
12   13    30 october 2013  1 - 0          4 - 2                  friendly

   goal               date  score         result               competition
0     1    5 february 1999  1 - 0          3 - 0        1999 carlsberg cup
1     2   13 february 2000  1 - 0          4 - 0    2000 concacaf gold cup
2     3   3 september 2000  5 - 1          7 - 1  2002 world cup qualifier
3     4        12 may 2002  2 - 1          2 - 1                  friendly
4     5       24 july 2003  1 - 0          2 - 0    2003 concacaf gold cup
5     6       19 june 2004  3 - 0          3 - 0  2006 world cup qualifier
6     7   7 september 2005  2 - 0          5 - 0  2006 world cup qualifier
7     8       24 june 2006  1 - 0  1 - 2 ( aet )       2006 fifa world cup
8     9      28 march 2007  2 - 2          4 - 2                  friendly
9    10  10 september 2008  2 - 0          2 - 1  2010 world cup qualifier
10   11       11 june 2010  1 - 1          1 - 1       2010 fifa world cup
11   12       12 june 2011  1 - 0          4 - 1    2011 concacaf gold cup
12   13    30 october 2013  1 - 0          4 - 2                  friendly

   goal               date  score         result               competition
0     1    5 february 1999  1 - 0          3 - 0        1999 carlsberg cup
1     2   13 february 2000  1 - 0          4 - 0    2000 concacaf gold cup
2     3   3 september 2000  5 - 1          7 - 1  2002 world cup qualifier
3     4        12 may 2002  2 - 1          2 - 1                  friendly
4     5       24 july 2003  1 - 0          2 - 0    2003 concacaf gold cup
5     6       19 june 2004  3 - 0          3 - 0  2006 world cup qualifier
6     7   7 september 2005  2 - 0          5 - 0  2006 world cup qualifier
7     8       24 june 2006  1 - 0  1 - 2 ( aet )       2006 fifa world cup
8     9      28 march 2007  2 - 2          4 - 2                  friendly
9    10  10 september 2008  2 - 0          2 - 1  2010 world cup qualifier
10   11       11 june 2010  1 - 1          1 - 1       2010 fifa world cup
11   12       12 june 2011  1 - 0          4 - 1    2011 concacaf gold cup
12   13    30 october 2013  1 - 0          4 - 2                  friendly

   place               player  ... to par   money
0      1       curtis strange  ...    - 2  200000
1     t2            chip beck  ...    - 1   67823
2     t2        mark mccumber  ...    - 1   67823
3     t2          ian woosnam  ...    - 1   67823
4      5          brian claar  ...      e   34345
5     t6        masashi ozaki  ...    + 1   28220
6     t6        scott simpson  ...    + 1   28220
7      8       peter jacobsen  ...    + 2   24307
8     t9         paul azinger  ...    + 3   19968
9     t9         hubert green  ...    + 3   19968
10    t9             tom kite  ...    + 3   19968
11    t9  josé maría olazábal  ...    + 3   19968

[12 rows x 6 columns]

   place               player  ... to par   money
0      1       curtis strange  ...    - 2  200000
1     t2            chip beck  ...    - 1   67823
2     t2        mark mccumber  ...    - 1   67823
3     t2          ian woosnam  ...    - 1   67823
4      5          brian claar  ...      e   34345
5     t6        masashi ozaki  ...    + 1   28220
6     t6        scott simpson  ...    + 1   28220
7      8       peter jacobsen  ...    + 2   24307
8     t9         paul azinger  ...    + 3   19968
9     t9         hubert green  ...    + 3   19968
10    t9             tom kite  ...    + 3   19968
11    t9  josé maría olazábal  ...    + 3   19968

[12 rows x 6 columns]

   place               player  ... to par   money
0      1       curtis strange  ...    - 2  200000
1     t2            chip beck  ...    - 1   67823
2     t2        mark mccumber  ...    - 1   67823
3     t2          ian woosnam  ...    - 1   67823
4      5          brian claar  ...      e   34345
5     t6        masashi ozaki  ...    + 1   28220
6     t6        scott simpson  ...    + 1   28220
7      8       peter jacobsen  ...    + 2   24307
8     t9         paul azinger  ...    + 3   19968
9     t9         hubert green  ...    + 3   19968
10    t9             tom kite  ...    + 3   19968
11    t9  josé maría olazábal  ...    + 3   19968

[12 rows x 6 columns]

   place               player  ... to par   money
0      1       curtis strange  ...    - 2  200000
1     t2            chip beck  ...    - 1   67823
2     t2        mark mccumber  ...    - 1   67823
3     t2          ian woosnam  ...    - 1   67823
4      5          brian claar  ...      e   34345
5     t6        masashi ozaki  ...    + 1   28220
6     t6        scott simpson  ...    + 1   28220
7      8       peter jacobsen  ...    + 2   24307
8     t9         paul azinger  ...    + 3   19968
9     t9         hubert green  ...    + 3   19968
10    t9             tom kite  ...    + 3   19968
11    t9  josé maría olazábal  ...    + 3   19968

[12 rows x 6 columns]

   place               player  ... to par   money
0      1       curtis strange  ...    - 2  200000
1     t2            chip beck  ...    - 1   67823
2     t2        mark mccumber  ...    - 1   67823
3     t2          ian woosnam  ...    - 1   67823
4      5          brian claar  ...      e   34345
5     t6        masashi ozaki  ...    + 1   28220
6     t6        scott simpson  ...    + 1   28220
7      8       peter jacobsen  ...    + 2   24307
8     t9         paul azinger  ...    + 3   19968
9     t9         hubert green  ...    + 3   19968
10    t9             tom kite  ...    + 3   19968
11    t9  josé maría olazábal  ...    + 3   19968

[12 rows x 6 columns]

   place               player  ... to par   money
0      1       curtis strange  ...    - 2  200000
1     t2            chip beck  ...    - 1   67823
2     t2        mark mccumber  ...    - 1   67823
3     t2          ian woosnam  ...    - 1   67823
4      5          brian claar  ...      e   34345
5     t6        masashi ozaki  ...    + 1   28220
6     t6        scott simpson  ...    + 1   28220
7      8       peter jacobsen  ...    + 2   24307
8     t9         paul azinger  ...    + 3   19968
9     t9         hubert green  ...    + 3   19968
10    t9             tom kite  ...    + 3   19968
11    t9  josé maría olazábal  ...    + 3   19968

[12 rows x 6 columns]

   place               player  ... to par   money
0      1       curtis strange  ...    - 2  200000
1     t2            chip beck  ...    - 1   67823
2     t2        mark mccumber  ...    - 1   67823
3     t2          ian woosnam  ...    - 1   67823
4      5          brian claar  ...      e   34345
5     t6        masashi ozaki  ...    + 1   28220
6     t6        scott simpson  ...    + 1   28220
7      8       peter jacobsen  ...    + 2   24307
8     t9         paul azinger  ...    + 3   19968
9     t9         hubert green  ...    + 3   19968
10    t9             tom kite  ...    + 3   19968
11    t9  josé maría olazábal  ...    + 3   19968

[12 rows x 6 columns]

   place               player  ... to par   money
0      1       curtis strange  ...    - 2  200000
1     t2            chip beck  ...    - 1   67823
2     t2        mark mccumber  ...    - 1   67823
3     t2          ian woosnam  ...    - 1   67823
4      5          brian claar  ...      e   34345
5     t6        masashi ozaki  ...    + 1   28220
6     t6        scott simpson  ...    + 1   28220
7      8       peter jacobsen  ...    + 2   24307
8     t9         paul azinger  ...    + 3   19968
9     t9         hubert green  ...    + 3   19968
10    t9             tom kite  ...    + 3   19968
11    t9  josé maría olazábal  ...    + 3   19968

[12 rows x 6 columns]

   place               player  ... to par   money
0      1       curtis strange  ...    - 2  200000
1     t2            chip beck  ...    - 1   67823
2     t2        mark mccumber  ...    - 1   67823
3     t2          ian woosnam  ...    - 1   67823
4      5          brian claar  ...      e   34345
5     t6        masashi ozaki  ...    + 1   28220
6     t6        scott simpson  ...    + 1   28220
7      8       peter jacobsen  ...    + 2   24307
8     t9         paul azinger  ...    + 3   19968
9     t9         hubert green  ...    + 3   19968
10    t9             tom kite  ...    + 3   19968
11    t9  josé maría olazábal  ...    + 3   19968

[12 rows x 6 columns]

   place               player  ... to par   money
0      1       curtis strange  ...    - 2  200000
1     t2            chip beck  ...    - 1   67823
2     t2        mark mccumber  ...    - 1   67823
3     t2          ian woosnam  ...    - 1   67823
4      5          brian claar  ...      e   34345
5     t6        masashi ozaki  ...    + 1   28220
6     t6        scott simpson  ...    + 1   28220
7      8       peter jacobsen  ...    + 2   24307
8     t9         paul azinger  ...    + 3   19968
9     t9         hubert green  ...    + 3   19968
10    t9             tom kite  ...    + 3   19968
11    t9  josé maría olazábal  ...    + 3   19968

[12 rows x 6 columns]

         date   opponent       score               loss attendance   record
0    august 2       mets  8 - 9 (11)    santana (2 - 5)      32453  52 - 55
1    august 3       mets       6 - 4     looper (4 - 5)      40659  53 - 55
2    august 4       mets      12 - 9  hernández (5 - 5)      30359  54 - 55
3    august 5   phillies  3 - 1 (10)      geary (1 - 1)      31759  55 - 55
4    august 6   phillies       2 - 8   capuano (12 - 7)      35800  55 - 56
5    august 7   phillies       2 - 0   padilla (5 - 11)      35017  56 - 56
6    august 8  cardinals       4 - 8       wise (4 - 4)      30260  56 - 57
7    august 9  cardinals       2 - 5      davis (9 - 8)      28556  56 - 58
8   august 10  cardinals       0 - 3     sheets (8 - 8)      37650  56 - 59
9   august 12       reds       3 - 5   capuano (12 - 8)      24103  56 - 60
10  august 13       reds       1 - 4       ohka (7 - 7)      41282  56 - 61
11  august 14       reds       8 - 3    belisle (2 - 6)      29262  57 - 61
12  august 15    rockies      2 - 11     sheets (8 - 9)      18596  57 - 62
13  august 16    rockies       6 - 4   francis (11 - 9)      18582  58 - 62
14  august 17    rockies       2 - 0    wright (6 - 14)      19288  59 - 62
15  august 18     astros       5 - 2   clemens (11 - 5)      29844  60 - 62
16  august 19     astros       3 - 5      davis (9 - 9)      31651  60 - 63
17  august 20     astros       3 - 2   harville (0 - 2)      41101  61 - 63
18  august 21     astros       3 - 8    santos (4 - 12)      35712  61 - 64
19  august 23    marlins      11 - 2   beckett (12 - 7)      20318  62 - 64
20  august 24    marlins       6 - 4   burnett (12 - 7)      33323  63 - 64
21  august 25    marlins  1 - 3 (11)   capellán (0 - 1)      22843  63 - 65
22  august 26     braves       3 - 1   ramírez (10 - 8)      30670  64 - 65
23  august 27     braves       4 - 8    santos (4 - 13)      42464  64 - 66
24  august 28     braves       2 - 5   capuano (14 - 9)      35060  64 - 67
25  august 30    pirates       0 - 6     davis (9 - 10)      28337  64 - 68
26  august 31    pirates       6 - 5       mesa (2 - 8)      15062  65 - 68

         date   opponent       score               loss attendance   record
0    august 2       mets  8 - 9 (11)    santana (2 - 5)      32453  52 - 55
1    august 3       mets       6 - 4     looper (4 - 5)      40659  53 - 55
2    august 4       mets      12 - 9  hernández (5 - 5)      30359  54 - 55
3    august 5   phillies  3 - 1 (10)      geary (1 - 1)      31759  55 - 55
4    august 6   phillies       2 - 8   capuano (12 - 7)      35800  55 - 56
5    august 7   phillies       2 - 0   padilla (5 - 11)      35017  56 - 56
6    august 8  cardinals       4 - 8       wise (4 - 4)      30260  56 - 57
7    august 9  cardinals       2 - 5      davis (9 - 8)      28556  56 - 58
8   august 10  cardinals       0 - 3     sheets (8 - 8)      37650  56 - 59
9   august 12       reds       3 - 5   capuano (12 - 8)      24103  56 - 60
10  august 13       reds       1 - 4       ohka (7 - 7)      41282  56 - 61
11  august 14       reds       8 - 3    belisle (2 - 6)      29262  57 - 61
12  august 15    rockies      2 - 11     sheets (8 - 9)      18596  57 - 62
13  august 16    rockies       6 - 4   francis (11 - 9)      18582  58 - 62
14  august 17    rockies       2 - 0    wright (6 - 14)      19288  59 - 62
15  august 18     astros       5 - 2   clemens (11 - 5)      29844  60 - 62
16  august 19     astros       3 - 5      davis (9 - 9)      31651  60 - 63
17  august 20     astros       3 - 2   harville (0 - 2)      41101  61 - 63
18  august 21     astros       3 - 8    santos (4 - 12)      35712  61 - 64
19  august 23    marlins      11 - 2   beckett (12 - 7)      20318  62 - 64
20  august 24    marlins       6 - 4   burnett (12 - 7)      33323  63 - 64
21  august 25    marlins  1 - 3 (11)   capellán (0 - 1)      22843  63 - 65
22  august 26     braves       3 - 1   ramírez (10 - 8)      30670  64 - 65
23  august 27     braves       4 - 8    santos (4 - 13)      42464  64 - 66
24  august 28     braves       2 - 5   capuano (14 - 9)      35060  64 - 67
25  august 30    pirates       0 - 6     davis (9 - 10)      28337  64 - 68
26  august 31    pirates       6 - 5       mesa (2 - 8)      15062  65 - 68

         date   opponent       score               loss attendance   record
0    august 2       mets  8 - 9 (11)    santana (2 - 5)      32453  52 - 55
1    august 3       mets       6 - 4     looper (4 - 5)      40659  53 - 55
2    august 4       mets      12 - 9  hernández (5 - 5)      30359  54 - 55
3    august 5   phillies  3 - 1 (10)      geary (1 - 1)      31759  55 - 55
4    august 6   phillies       2 - 8   capuano (12 - 7)      35800  55 - 56
5    august 7   phillies       2 - 0   padilla (5 - 11)      35017  56 - 56
6    august 8  cardinals       4 - 8       wise (4 - 4)      30260  56 - 57
7    august 9  cardinals       2 - 5      davis (9 - 8)      28556  56 - 58
8   august 10  cardinals       0 - 3     sheets (8 - 8)      37650  56 - 59
9   august 12       reds       3 - 5   capuano (12 - 8)      24103  56 - 60
10  august 13       reds       1 - 4       ohka (7 - 7)      41282  56 - 61
11  august 14       reds       8 - 3    belisle (2 - 6)      29262  57 - 61
12  august 15    rockies      2 - 11     sheets (8 - 9)      18596  57 - 62
13  august 16    rockies       6 - 4   francis (11 - 9)      18582  58 - 62
14  august 17    rockies       2 - 0    wright (6 - 14)      19288  59 - 62
15  august 18     astros       5 - 2   clemens (11 - 5)      29844  60 - 62
16  august 19     astros       3 - 5      davis (9 - 9)      31651  60 - 63
17  august 20     astros       3 - 2   harville (0 - 2)      41101  61 - 63
18  august 21     astros       3 - 8    santos (4 - 12)      35712  61 - 64
19  august 23    marlins      11 - 2   beckett (12 - 7)      20318  62 - 64
20  august 24    marlins       6 - 4   burnett (12 - 7)      33323  63 - 64
21  august 25    marlins  1 - 3 (11)   capellán (0 - 1)      22843  63 - 65
22  august 26     braves       3 - 1   ramírez (10 - 8)      30670  64 - 65
23  august 27     braves       4 - 8    santos (4 - 13)      42464  64 - 66
24  august 28     braves       2 - 5   capuano (14 - 9)      35060  64 - 67
25  august 30    pirates       0 - 6     davis (9 - 10)      28337  64 - 68
26  august 31    pirates       6 - 5       mesa (2 - 8)      15062  65 - 68

         date   opponent       score               loss attendance   record
0    august 2       mets  8 - 9 (11)    santana (2 - 5)      32453  52 - 55
1    august 3       mets       6 - 4     looper (4 - 5)      40659  53 - 55
2    august 4       mets      12 - 9  hernández (5 - 5)      30359  54 - 55
3    august 5   phillies  3 - 1 (10)      geary (1 - 1)      31759  55 - 55
4    august 6   phillies       2 - 8   capuano (12 - 7)      35800  55 - 56
5    august 7   phillies       2 - 0   padilla (5 - 11)      35017  56 - 56
6    august 8  cardinals       4 - 8       wise (4 - 4)      30260  56 - 57
7    august 9  cardinals       2 - 5      davis (9 - 8)      28556  56 - 58
8   august 10  cardinals       0 - 3     sheets (8 - 8)      37650  56 - 59
9   august 12       reds       3 - 5   capuano (12 - 8)      24103  56 - 60
10  august 13       reds       1 - 4       ohka (7 - 7)      41282  56 - 61
11  august 14       reds       8 - 3    belisle (2 - 6)      29262  57 - 61
12  august 15    rockies      2 - 11     sheets (8 - 9)      18596  57 - 62
13  august 16    rockies       6 - 4   francis (11 - 9)      18582  58 - 62
14  august 17    rockies       2 - 0    wright (6 - 14)      19288  59 - 62
15  august 18     astros       5 - 2   clemens (11 - 5)      29844  60 - 62
16  august 19     astros       3 - 5      davis (9 - 9)      31651  60 - 63
17  august 20     astros       3 - 2   harville (0 - 2)      41101  61 - 63
18  august 21     astros       3 - 8    santos (4 - 12)      35712  61 - 64
19  august 23    marlins      11 - 2   beckett (12 - 7)      20318  62 - 64
20  august 24    marlins       6 - 4   burnett (12 - 7)      33323  63 - 64
21  august 25    marlins  1 - 3 (11)   capellán (0 - 1)      22843  63 - 65
22  august 26     braves       3 - 1   ramírez (10 - 8)      30670  64 - 65
23  august 27     braves       4 - 8    santos (4 - 13)      42464  64 - 66
24  august 28     braves       2 - 5   capuano (14 - 9)      35060  64 - 67
25  august 30    pirates       0 - 6     davis (9 - 10)      28337  64 - 68
26  august 31    pirates       6 - 5       mesa (2 - 8)      15062  65 - 68

         date   opponent       score               loss attendance   record
0    august 2       mets  8 - 9 (11)    santana (2 - 5)      32453  52 - 55
1    august 3       mets       6 - 4     looper (4 - 5)      40659  53 - 55
2    august 4       mets      12 - 9  hernández (5 - 5)      30359  54 - 55
3    august 5   phillies  3 - 1 (10)      geary (1 - 1)      31759  55 - 55
4    august 6   phillies       2 - 8   capuano (12 - 7)      35800  55 - 56
5    august 7   phillies       2 - 0   padilla (5 - 11)      35017  56 - 56
6    august 8  cardinals       4 - 8       wise (4 - 4)      30260  56 - 57
7    august 9  cardinals       2 - 5      davis (9 - 8)      28556  56 - 58
8   august 10  cardinals       0 - 3     sheets (8 - 8)      37650  56 - 59
9   august 12       reds       3 - 5   capuano (12 - 8)      24103  56 - 60
10  august 13       reds       1 - 4       ohka (7 - 7)      41282  56 - 61
11  august 14       reds       8 - 3    belisle (2 - 6)      29262  57 - 61
12  august 15    rockies      2 - 11     sheets (8 - 9)      18596  57 - 62
13  august 16    rockies       6 - 4   francis (11 - 9)      18582  58 - 62
14  august 17    rockies       2 - 0    wright (6 - 14)      19288  59 - 62
15  august 18     astros       5 - 2   clemens (11 - 5)      29844  60 - 62
16  august 19     astros       3 - 5      davis (9 - 9)      31651  60 - 63
17  august 20     astros       3 - 2   harville (0 - 2)      41101  61 - 63
18  august 21     astros       3 - 8    santos (4 - 12)      35712  61 - 64
19  august 23    marlins      11 - 2   beckett (12 - 7)      20318  62 - 64
20  august 24    marlins       6 - 4   burnett (12 - 7)      33323  63 - 64
21  august 25    marlins  1 - 3 (11)   capellán (0 - 1)      22843  63 - 65
22  august 26     braves       3 - 1   ramírez (10 - 8)      30670  64 - 65
23  august 27     braves       4 - 8    santos (4 - 13)      42464  64 - 66
24  august 28     braves       2 - 5   capuano (14 - 9)      35060  64 - 67
25  august 30    pirates       0 - 6     davis (9 - 10)      28337  64 - 68
26  august 31    pirates       6 - 5       mesa (2 - 8)      15062  65 - 68

         date   opponent       score               loss attendance   record
0    august 2       mets  8 - 9 (11)    santana (2 - 5)      32453  52 - 55
1    august 3       mets       6 - 4     looper (4 - 5)      40659  53 - 55
2    august 4       mets      12 - 9  hernández (5 - 5)      30359  54 - 55
3    august 5   phillies  3 - 1 (10)      geary (1 - 1)      31759  55 - 55
4    august 6   phillies       2 - 8   capuano (12 - 7)      35800  55 - 56
5    august 7   phillies       2 - 0   padilla (5 - 11)      35017  56 - 56
6    august 8  cardinals       4 - 8       wise (4 - 4)      30260  56 - 57
7    august 9  cardinals       2 - 5      davis (9 - 8)      28556  56 - 58
8   august 10  cardinals       0 - 3     sheets (8 - 8)      37650  56 - 59
9   august 12       reds       3 - 5   capuano (12 - 8)      24103  56 - 60
10  august 13       reds       1 - 4       ohka (7 - 7)      41282  56 - 61
11  august 14       reds       8 - 3    belisle (2 - 6)      29262  57 - 61
12  august 15    rockies      2 - 11     sheets (8 - 9)      18596  57 - 62
13  august 16    rockies       6 - 4   francis (11 - 9)      18582  58 - 62
14  august 17    rockies       2 - 0    wright (6 - 14)      19288  59 - 62
15  august 18     astros       5 - 2   clemens (11 - 5)      29844  60 - 62
16  august 19     astros       3 - 5      davis (9 - 9)      31651  60 - 63
17  august 20     astros       3 - 2   harville (0 - 2)      41101  61 - 63
18  august 21     astros       3 - 8    santos (4 - 12)      35712  61 - 64
19  august 23    marlins      11 - 2   beckett (12 - 7)      20318  62 - 64
20  august 24    marlins       6 - 4   burnett (12 - 7)      33323  63 - 64
21  august 25    marlins  1 - 3 (11)   capellán (0 - 1)      22843  63 - 65
22  august 26     braves       3 - 1   ramírez (10 - 8)      30670  64 - 65
23  august 27     braves       4 - 8    santos (4 - 13)      42464  64 - 66
24  august 28     braves       2 - 5   capuano (14 - 9)      35060  64 - 67
25  august 30    pirates       0 - 6     davis (9 - 10)      28337  64 - 68
26  august 31    pirates       6 - 5       mesa (2 - 8)      15062  65 - 68

         date   opponent       score               loss attendance   record
0    august 2       mets  8 - 9 (11)    santana (2 - 5)      32453  52 - 55
1    august 3       mets       6 - 4     looper (4 - 5)      40659  53 - 55
2    august 4       mets      12 - 9  hernández (5 - 5)      30359  54 - 55
3    august 5   phillies  3 - 1 (10)      geary (1 - 1)      31759  55 - 55
4    august 6   phillies       2 - 8   capuano (12 - 7)      35800  55 - 56
5    august 7   phillies       2 - 0   padilla (5 - 11)      35017  56 - 56
6    august 8  cardinals       4 - 8       wise (4 - 4)      30260  56 - 57
7    august 9  cardinals       2 - 5      davis (9 - 8)      28556  56 - 58
8   august 10  cardinals       0 - 3     sheets (8 - 8)      37650  56 - 59
9   august 12       reds       3 - 5   capuano (12 - 8)      24103  56 - 60
10  august 13       reds       1 - 4       ohka (7 - 7)      41282  56 - 61
11  august 14       reds       8 - 3    belisle (2 - 6)      29262  57 - 61
12  august 15    rockies      2 - 11     sheets (8 - 9)      18596  57 - 62
13  august 16    rockies       6 - 4   francis (11 - 9)      18582  58 - 62
14  august 17    rockies       2 - 0    wright (6 - 14)      19288  59 - 62
15  august 18     astros       5 - 2   clemens (11 - 5)      29844  60 - 62
16  august 19     astros       3 - 5      davis (9 - 9)      31651  60 - 63
17  august 20     astros       3 - 2   harville (0 - 2)      41101  61 - 63
18  august 21     astros       3 - 8    santos (4 - 12)      35712  61 - 64
19  august 23    marlins      11 - 2   beckett (12 - 7)      20318  62 - 64
20  august 24    marlins       6 - 4   burnett (12 - 7)      33323  63 - 64
21  august 25    marlins  1 - 3 (11)   capellán (0 - 1)      22843  63 - 65
22  august 26     braves       3 - 1   ramírez (10 - 8)      30670  64 - 65
23  august 27     braves       4 - 8    santos (4 - 13)      42464  64 - 66
24  august 28     braves       2 - 5   capuano (14 - 9)      35060  64 - 67
25  august 30    pirates       0 - 6     davis (9 - 10)      28337  64 - 68
26  august 31    pirates       6 - 5       mesa (2 - 8)      15062  65 - 68

         date   opponent       score               loss attendance   record
0    august 2       mets  8 - 9 (11)    santana (2 - 5)      32453  52 - 55
1    august 3       mets       6 - 4     looper (4 - 5)      40659  53 - 55
2    august 4       mets      12 - 9  hernández (5 - 5)      30359  54 - 55
3    august 5   phillies  3 - 1 (10)      geary (1 - 1)      31759  55 - 55
4    august 6   phillies       2 - 8   capuano (12 - 7)      35800  55 - 56
5    august 7   phillies       2 - 0   padilla (5 - 11)      35017  56 - 56
6    august 8  cardinals       4 - 8       wise (4 - 4)      30260  56 - 57
7    august 9  cardinals       2 - 5      davis (9 - 8)      28556  56 - 58
8   august 10  cardinals       0 - 3     sheets (8 - 8)      37650  56 - 59
9   august 12       reds       3 - 5   capuano (12 - 8)      24103  56 - 60
10  august 13       reds       1 - 4       ohka (7 - 7)      41282  56 - 61
11  august 14       reds       8 - 3    belisle (2 - 6)      29262  57 - 61
12  august 15    rockies      2 - 11     sheets (8 - 9)      18596  57 - 62
13  august 16    rockies       6 - 4   francis (11 - 9)      18582  58 - 62
14  august 17    rockies       2 - 0    wright (6 - 14)      19288  59 - 62
15  august 18     astros       5 - 2   clemens (11 - 5)      29844  60 - 62
16  august 19     astros       3 - 5      davis (9 - 9)      31651  60 - 63
17  august 20     astros       3 - 2   harville (0 - 2)      41101  61 - 63
18  august 21     astros       3 - 8    santos (4 - 12)      35712  61 - 64
19  august 23    marlins      11 - 2   beckett (12 - 7)      20318  62 - 64
20  august 24    marlins       6 - 4   burnett (12 - 7)      33323  63 - 64
21  august 25    marlins  1 - 3 (11)   capellán (0 - 1)      22843  63 - 65
22  august 26     braves       3 - 1   ramírez (10 - 8)      30670  64 - 65
23  august 27     braves       4 - 8    santos (4 - 13)      42464  64 - 66
24  august 28     braves       2 - 5   capuano (14 - 9)      35060  64 - 67
25  august 30    pirates       0 - 6     davis (9 - 10)      28337  64 - 68
26  august 31    pirates       6 - 5       mesa (2 - 8)      15062  65 - 68

         date   opponent       score               loss attendance   record
0    august 2       mets  8 - 9 (11)    santana (2 - 5)      32453  52 - 55
1    august 3       mets       6 - 4     looper (4 - 5)      40659  53 - 55
2    august 4       mets      12 - 9  hernández (5 - 5)      30359  54 - 55
3    august 5   phillies  3 - 1 (10)      geary (1 - 1)      31759  55 - 55
4    august 6   phillies       2 - 8   capuano (12 - 7)      35800  55 - 56
5    august 7   phillies       2 - 0   padilla (5 - 11)      35017  56 - 56
6    august 8  cardinals       4 - 8       wise (4 - 4)      30260  56 - 57
7    august 9  cardinals       2 - 5      davis (9 - 8)      28556  56 - 58
8   august 10  cardinals       0 - 3     sheets (8 - 8)      37650  56 - 59
9   august 12       reds       3 - 5   capuano (12 - 8)      24103  56 - 60
10  august 13       reds       1 - 4       ohka (7 - 7)      41282  56 - 61
11  august 14       reds       8 - 3    belisle (2 - 6)      29262  57 - 61
12  august 15    rockies      2 - 11     sheets (8 - 9)      18596  57 - 62
13  august 16    rockies       6 - 4   francis (11 - 9)      18582  58 - 62
14  august 17    rockies       2 - 0    wright (6 - 14)      19288  59 - 62
15  august 18     astros       5 - 2   clemens (11 - 5)      29844  60 - 62
16  august 19     astros       3 - 5      davis (9 - 9)      31651  60 - 63
17  august 20     astros       3 - 2   harville (0 - 2)      41101  61 - 63
18  august 21     astros       3 - 8    santos (4 - 12)      35712  61 - 64
19  august 23    marlins      11 - 2   beckett (12 - 7)      20318  62 - 64
20  august 24    marlins       6 - 4   burnett (12 - 7)      33323  63 - 64
21  august 25    marlins  1 - 3 (11)   capellán (0 - 1)      22843  63 - 65
22  august 26     braves       3 - 1   ramírez (10 - 8)      30670  64 - 65
23  august 27     braves       4 - 8    santos (4 - 13)      42464  64 - 66
24  august 28     braves       2 - 5   capuano (14 - 9)      35060  64 - 67
25  august 30    pirates       0 - 6     davis (9 - 10)      28337  64 - 68
26  august 31    pirates       6 - 5       mesa (2 - 8)      15062  65 - 68

         date   opponent       score               loss attendance   record
0    august 2       mets  8 - 9 (11)    santana (2 - 5)      32453  52 - 55
1    august 3       mets       6 - 4     looper (4 - 5)      40659  53 - 55
2    august 4       mets      12 - 9  hernández (5 - 5)      30359  54 - 55
3    august 5   phillies  3 - 1 (10)      geary (1 - 1)      31759  55 - 55
4    august 6   phillies       2 - 8   capuano (12 - 7)      35800  55 - 56
5    august 7   phillies       2 - 0   padilla (5 - 11)      35017  56 - 56
6    august 8  cardinals       4 - 8       wise (4 - 4)      30260  56 - 57
7    august 9  cardinals       2 - 5      davis (9 - 8)      28556  56 - 58
8   august 10  cardinals       0 - 3     sheets (8 - 8)      37650  56 - 59
9   august 12       reds       3 - 5   capuano (12 - 8)      24103  56 - 60
10  august 13       reds       1 - 4       ohka (7 - 7)      41282  56 - 61
11  august 14       reds       8 - 3    belisle (2 - 6)      29262  57 - 61
12  august 15    rockies      2 - 11     sheets (8 - 9)      18596  57 - 62
13  august 16    rockies       6 - 4   francis (11 - 9)      18582  58 - 62
14  august 17    rockies       2 - 0    wright (6 - 14)      19288  59 - 62
15  august 18     astros       5 - 2   clemens (11 - 5)      29844  60 - 62
16  august 19     astros       3 - 5      davis (9 - 9)      31651  60 - 63
17  august 20     astros       3 - 2   harville (0 - 2)      41101  61 - 63
18  august 21     astros       3 - 8    santos (4 - 12)      35712  61 - 64
19  august 23    marlins      11 - 2   beckett (12 - 7)      20318  62 - 64
20  august 24    marlins       6 - 4   burnett (12 - 7)      33323  63 - 64
21  august 25    marlins  1 - 3 (11)   capellán (0 - 1)      22843  63 - 65
22  august 26     braves       3 - 1   ramírez (10 - 8)      30670  64 - 65
23  august 27     braves       4 - 8    santos (4 - 13)      42464  64 - 66
24  august 28     braves       2 - 5   capuano (14 - 9)      35060  64 - 67
25  august 30    pirates       0 - 6     davis (9 - 10)      28337  64 - 68
26  august 31    pirates       6 - 5       mesa (2 - 8)      15062  65 - 68

   round  ...  college / junior / club team (league)
0      3  ...        new england jr coyotes ( ejhl )
1      4  ...          centennial high school (minn)
2      4  ...  prince edward island rocket ( qmjhl )
3      5  ...              tri - city storm ( ushl )
4      5  ...               plymouth whalers ( ohl )
5      6  ...            spišská nová ves (slovakia)
6      6  ...             halifax mooseheads (qmjhl)
7      8  ...   cape breton screaming eagles (qmjhl)
8      8  ...            trail smoke eaters ( bchl )
9      9  ...               vancouver giants ( whl )
10     9  ...              brewster bulldogs (emjhl)

[11 rows x 5 columns]

   round  ...  college / junior / club team (league)
0      3  ...        new england jr coyotes ( ejhl )
1      4  ...          centennial high school (minn)
2      4  ...  prince edward island rocket ( qmjhl )
3      5  ...              tri - city storm ( ushl )
4      5  ...               plymouth whalers ( ohl )
5      6  ...            spišská nová ves (slovakia)
6      6  ...             halifax mooseheads (qmjhl)
7      8  ...   cape breton screaming eagles (qmjhl)
8      8  ...            trail smoke eaters ( bchl )
9      9  ...               vancouver giants ( whl )
10     9  ...              brewster bulldogs (emjhl)

[11 rows x 5 columns]

   round  ...  college / junior / club team (league)
0      3  ...        new england jr coyotes ( ejhl )
1      4  ...          centennial high school (minn)
2      4  ...  prince edward island rocket ( qmjhl )
3      5  ...              tri - city storm ( ushl )
4      5  ...               plymouth whalers ( ohl )
5      6  ...            spišská nová ves (slovakia)
6      6  ...             halifax mooseheads (qmjhl)
7      8  ...   cape breton screaming eagles (qmjhl)
8      8  ...            trail smoke eaters ( bchl )
9      9  ...               vancouver giants ( whl )
10     9  ...              brewster bulldogs (emjhl)

[11 rows x 5 columns]

   round  ...  college / junior / club team (league)
0      3  ...        new england jr coyotes ( ejhl )
1      4  ...          centennial high school (minn)
2      4  ...  prince edward island rocket ( qmjhl )
3      5  ...              tri - city storm ( ushl )
4      5  ...               plymouth whalers ( ohl )
5      6  ...            spišská nová ves (slovakia)
6      6  ...             halifax mooseheads (qmjhl)
7      8  ...   cape breton screaming eagles (qmjhl)
8      8  ...            trail smoke eaters ( bchl )
9      9  ...               vancouver giants ( whl )
10     9  ...              brewster bulldogs (emjhl)

[11 rows x 5 columns]

   round  ...  college / junior / club team (league)
0      3  ...        new england jr coyotes ( ejhl )
1      4  ...          centennial high school (minn)
2      4  ...  prince edward island rocket ( qmjhl )
3      5  ...              tri - city storm ( ushl )
4      5  ...               plymouth whalers ( ohl )
5      6  ...            spišská nová ves (slovakia)
6      6  ...             halifax mooseheads (qmjhl)
7      8  ...   cape breton screaming eagles (qmjhl)
8      8  ...            trail smoke eaters ( bchl )
9      9  ...               vancouver giants ( whl )
10     9  ...              brewster bulldogs (emjhl)

[11 rows x 5 columns]

   round  ...  college / junior / club team (league)
0      3  ...        new england jr coyotes ( ejhl )
1      4  ...          centennial high school (minn)
2      4  ...  prince edward island rocket ( qmjhl )
3      5  ...              tri - city storm ( ushl )
4      5  ...               plymouth whalers ( ohl )
5      6  ...            spišská nová ves (slovakia)
6      6  ...             halifax mooseheads (qmjhl)
7      8  ...   cape breton screaming eagles (qmjhl)
8      8  ...            trail smoke eaters ( bchl )
9      9  ...               vancouver giants ( whl )
10     9  ...              brewster bulldogs (emjhl)

[11 rows x 5 columns]

   round  ...  college / junior / club team (league)
0      3  ...        new england jr coyotes ( ejhl )
1      4  ...          centennial high school (minn)
2      4  ...  prince edward island rocket ( qmjhl )
3      5  ...              tri - city storm ( ushl )
4      5  ...               plymouth whalers ( ohl )
5      6  ...            spišská nová ves (slovakia)
6      6  ...             halifax mooseheads (qmjhl)
7      8  ...   cape breton screaming eagles (qmjhl)
8      8  ...            trail smoke eaters ( bchl )
9      9  ...               vancouver giants ( whl )
10     9  ...              brewster bulldogs (emjhl)

[11 rows x 5 columns]

   round  ...  college / junior / club team (league)
0      3  ...        new england jr coyotes ( ejhl )
1      4  ...          centennial high school (minn)
2      4  ...  prince edward island rocket ( qmjhl )
3      5  ...              tri - city storm ( ushl )
4      5  ...               plymouth whalers ( ohl )
5      6  ...            spišská nová ves (slovakia)
6      6  ...             halifax mooseheads (qmjhl)
7      8  ...   cape breton screaming eagles (qmjhl)
8      8  ...            trail smoke eaters ( bchl )
9      9  ...               vancouver giants ( whl )
10     9  ...              brewster bulldogs (emjhl)

[11 rows x 5 columns]

   round  ...  college / junior / club team (league)
0      3  ...        new england jr coyotes ( ejhl )
1      4  ...          centennial high school (minn)
2      4  ...  prince edward island rocket ( qmjhl )
3      5  ...              tri - city storm ( ushl )
4      5  ...               plymouth whalers ( ohl )
5      6  ...            spišská nová ves (slovakia)
6      6  ...             halifax mooseheads (qmjhl)
7      8  ...   cape breton screaming eagles (qmjhl)
8      8  ...            trail smoke eaters ( bchl )
9      9  ...               vancouver giants ( whl )
10     9  ...              brewster bulldogs (emjhl)

[11 rows x 5 columns]

   round  ...  college / junior / club team (league)
0      3  ...        new england jr coyotes ( ejhl )
1      4  ...          centennial high school (minn)
2      4  ...  prince edward island rocket ( qmjhl )
3      5  ...              tri - city storm ( ushl )
4      5  ...               plymouth whalers ( ohl )
5      6  ...            spišská nová ves (slovakia)
6      6  ...             halifax mooseheads (qmjhl)
7      8  ...   cape breton screaming eagles (qmjhl)
8      8  ...            trail smoke eaters ( bchl )
9      9  ...               vancouver giants ( whl )
10     9  ...              brewster bulldogs (emjhl)

[11 rows x 5 columns]

    year  ...                                       competition
0   1995  ...            camra white horse branch beer festival
1   1997  ...       camra northamptonshire branch beer festival
2   2002  ...           siba south east region beer competition
3   2002  ...           siba south east region beer competition
4   2002  ...           siba south east region beer competition
5   2002  ...           siba south east region beer competition
6   2002  ...           siba south east region beer competition
7   2003  ...                    siba national beer competition
8   2003  ...                 camra great british beer festival
9   2004  ...             bracknell blues and real ale festival
10  2005  ...                camra reading branch beer festival
11  2005  ...                camra reading branch beer festival
12  2005  ...           siba south east region beer competition
13  2005  ...           siba south east region beer competition
14  2005  ...           siba south east region beer competition
15  2005  ...                             norwich beer festival
16  2006  ...                    siba national beer competition
17  2006  ...                camra reading branch beer festival
18  2006  ...           siba south east region beer competition
19  2007  ...                camra reading branch beer festival
20  2007  ...                camra reading branch beer festival
21  2007  ...                camra reading branch beer festival
22  2008  ...                camra reading branch beer festival
23  2008  ...                camra reading branch beer festival
24  2008  ...                camra reading branch beer festival
25  2009  ...                camra reading branch beer festival
26  2009  ...  camra london and south east regional competition
27  2009  ...  camra london and south east regional competition

[28 rows x 5 columns]

    year  ...                                       competition
0   1995  ...            camra white horse branch beer festival
1   1997  ...       camra northamptonshire branch beer festival
2   2002  ...           siba south east region beer competition
3   2002  ...           siba south east region beer competition
4   2002  ...           siba south east region beer competition
5   2002  ...           siba south east region beer competition
6   2002  ...           siba south east region beer competition
7   2003  ...                    siba national beer competition
8   2003  ...                 camra great british beer festival
9   2004  ...             bracknell blues and real ale festival
10  2005  ...                camra reading branch beer festival
11  2005  ...                camra reading branch beer festival
12  2005  ...           siba south east region beer competition
13  2005  ...           siba south east region beer competition
14  2005  ...           siba south east region beer competition
15  2005  ...                             norwich beer festival
16  2006  ...                    siba national beer competition
17  2006  ...                camra reading branch beer festival
18  2006  ...           siba south east region beer competition
19  2007  ...                camra reading branch beer festival
20  2007  ...                camra reading branch beer festival
21  2007  ...                camra reading branch beer festival
22  2008  ...                camra reading branch beer festival
23  2008  ...                camra reading branch beer festival
24  2008  ...                camra reading branch beer festival
25  2009  ...                camra reading branch beer festival
26  2009  ...  camra london and south east regional competition
27  2009  ...  camra london and south east regional competition

[28 rows x 5 columns]

    year  ...                                       competition
0   1995  ...            camra white horse branch beer festival
1   1997  ...       camra northamptonshire branch beer festival
2   2002  ...           siba south east region beer competition
3   2002  ...           siba south east region beer competition
4   2002  ...           siba south east region beer competition
5   2002  ...           siba south east region beer competition
6   2002  ...           siba south east region beer competition
7   2003  ...                    siba national beer competition
8   2003  ...                 camra great british beer festival
9   2004  ...             bracknell blues and real ale festival
10  2005  ...                camra reading branch beer festival
11  2005  ...                camra reading branch beer festival
12  2005  ...           siba south east region beer competition
13  2005  ...           siba south east region beer competition
14  2005  ...           siba south east region beer competition
15  2005  ...                             norwich beer festival
16  2006  ...                    siba national beer competition
17  2006  ...                camra reading branch beer festival
18  2006  ...           siba south east region beer competition
19  2007  ...                camra reading branch beer festival
20  2007  ...                camra reading branch beer festival
21  2007  ...                camra reading branch beer festival
22  2008  ...                camra reading branch beer festival
23  2008  ...                camra reading branch beer festival
24  2008  ...                camra reading branch beer festival
25  2009  ...                camra reading branch beer festival
26  2009  ...  camra london and south east regional competition
27  2009  ...  camra london and south east regional competition

[28 rows x 5 columns]

    year  ...                                       competition
0   1995  ...            camra white horse branch beer festival
1   1997  ...       camra northamptonshire branch beer festival
2   2002  ...           siba south east region beer competition
3   2002  ...           siba south east region beer competition
4   2002  ...           siba south east region beer competition
5   2002  ...           siba south east region beer competition
6   2002  ...           siba south east region beer competition
7   2003  ...                    siba national beer competition
8   2003  ...                 camra great british beer festival
9   2004  ...             bracknell blues and real ale festival
10  2005  ...                camra reading branch beer festival
11  2005  ...                camra reading branch beer festival
12  2005  ...           siba south east region beer competition
13  2005  ...           siba south east region beer competition
14  2005  ...           siba south east region beer competition
15  2005  ...                             norwich beer festival
16  2006  ...                    siba national beer competition
17  2006  ...                camra reading branch beer festival
18  2006  ...           siba south east region beer competition
19  2007  ...                camra reading branch beer festival
20  2007  ...                camra reading branch beer festival
21  2007  ...                camra reading branch beer festival
22  2008  ...                camra reading branch beer festival
23  2008  ...                camra reading branch beer festival
24  2008  ...                camra reading branch beer festival
25  2009  ...                camra reading branch beer festival
26  2009  ...  camra london and south east regional competition
27  2009  ...  camra london and south east regional competition

[28 rows x 5 columns]

    year  ...                                       competition
0   1995  ...            camra white horse branch beer festival
1   1997  ...       camra northamptonshire branch beer festival
2   2002  ...           siba south east region beer competition
3   2002  ...           siba south east region beer competition
4   2002  ...           siba south east region beer competition
5   2002  ...           siba south east region beer competition
6   2002  ...           siba south east region beer competition
7   2003  ...                    siba national beer competition
8   2003  ...                 camra great british beer festival
9   2004  ...             bracknell blues and real ale festival
10  2005  ...                camra reading branch beer festival
11  2005  ...                camra reading branch beer festival
12  2005  ...           siba south east region beer competition
13  2005  ...           siba south east region beer competition
14  2005  ...           siba south east region beer competition
15  2005  ...                             norwich beer festival
16  2006  ...                    siba national beer competition
17  2006  ...                camra reading branch beer festival
18  2006  ...           siba south east region beer competition
19  2007  ...                camra reading branch beer festival
20  2007  ...                camra reading branch beer festival
21  2007  ...                camra reading branch beer festival
22  2008  ...                camra reading branch beer festival
23  2008  ...                camra reading branch beer festival
24  2008  ...                camra reading branch beer festival
25  2009  ...                camra reading branch beer festival
26  2009  ...  camra london and south east regional competition
27  2009  ...  camra london and south east regional competition

[28 rows x 5 columns]

    year  ...                                       competition
0   1995  ...            camra white horse branch beer festival
1   1997  ...       camra northamptonshire branch beer festival
2   2002  ...           siba south east region beer competition
3   2002  ...           siba south east region beer competition
4   2002  ...           siba south east region beer competition
5   2002  ...           siba south east region beer competition
6   2002  ...           siba south east region beer competition
7   2003  ...                    siba national beer competition
8   2003  ...                 camra great british beer festival
9   2004  ...             bracknell blues and real ale festival
10  2005  ...                camra reading branch beer festival
11  2005  ...                camra reading branch beer festival
12  2005  ...           siba south east region beer competition
13  2005  ...           siba south east region beer competition
14  2005  ...           siba south east region beer competition
15  2005  ...                             norwich beer festival
16  2006  ...                    siba national beer competition
17  2006  ...                camra reading branch beer festival
18  2006  ...           siba south east region beer competition
19  2007  ...                camra reading branch beer festival
20  2007  ...                camra reading branch beer festival
21  2007  ...                camra reading branch beer festival
22  2008  ...                camra reading branch beer festival
23  2008  ...                camra reading branch beer festival
24  2008  ...                camra reading branch beer festival
25  2009  ...                camra reading branch beer festival
26  2009  ...  camra london and south east regional competition
27  2009  ...  camra london and south east regional competition

[28 rows x 5 columns]

    year  ...                                       competition
0   1995  ...            camra white horse branch beer festival
1   1997  ...       camra northamptonshire branch beer festival
2   2002  ...           siba south east region beer competition
3   2002  ...           siba south east region beer competition
4   2002  ...           siba south east region beer competition
5   2002  ...           siba south east region beer competition
6   2002  ...           siba south east region beer competition
7   2003  ...                    siba national beer competition
8   2003  ...                 camra great british beer festival
9   2004  ...             bracknell blues and real ale festival
10  2005  ...                camra reading branch beer festival
11  2005  ...                camra reading branch beer festival
12  2005  ...           siba south east region beer competition
13  2005  ...           siba south east region beer competition
14  2005  ...           siba south east region beer competition
15  2005  ...                             norwich beer festival
16  2006  ...                    siba national beer competition
17  2006  ...                camra reading branch beer festival
18  2006  ...           siba south east region beer competition
19  2007  ...                camra reading branch beer festival
20  2007  ...                camra reading branch beer festival
21  2007  ...                camra reading branch beer festival
22  2008  ...                camra reading branch beer festival
23  2008  ...                camra reading branch beer festival
24  2008  ...                camra reading branch beer festival
25  2009  ...                camra reading branch beer festival
26  2009  ...  camra london and south east regional competition
27  2009  ...  camra london and south east regional competition

[28 rows x 5 columns]

    year  ...                                       competition
0   1995  ...            camra white horse branch beer festival
1   1997  ...       camra northamptonshire branch beer festival
2   2002  ...           siba south east region beer competition
3   2002  ...           siba south east region beer competition
4   2002  ...           siba south east region beer competition
5   2002  ...           siba south east region beer competition
6   2002  ...           siba south east region beer competition
7   2003  ...                    siba national beer competition
8   2003  ...                 camra great british beer festival
9   2004  ...             bracknell blues and real ale festival
10  2005  ...                camra reading branch beer festival
11  2005  ...                camra reading branch beer festival
12  2005  ...           siba south east region beer competition
13  2005  ...           siba south east region beer competition
14  2005  ...           siba south east region beer competition
15  2005  ...                             norwich beer festival
16  2006  ...                    siba national beer competition
17  2006  ...                camra reading branch beer festival
18  2006  ...           siba south east region beer competition
19  2007  ...                camra reading branch beer festival
20  2007  ...                camra reading branch beer festival
21  2007  ...                camra reading branch beer festival
22  2008  ...                camra reading branch beer festival
23  2008  ...                camra reading branch beer festival
24  2008  ...                camra reading branch beer festival
25  2009  ...                camra reading branch beer festival
26  2009  ...  camra london and south east regional competition
27  2009  ...  camra london and south east regional competition

[28 rows x 5 columns]

    year  ...                                       competition
0   1995  ...            camra white horse branch beer festival
1   1997  ...       camra northamptonshire branch beer festival
2   2002  ...           siba south east region beer competition
3   2002  ...           siba south east region beer competition
4   2002  ...           siba south east region beer competition
5   2002  ...           siba south east region beer competition
6   2002  ...           siba south east region beer competition
7   2003  ...                    siba national beer competition
8   2003  ...                 camra great british beer festival
9   2004  ...             bracknell blues and real ale festival
10  2005  ...                camra reading branch beer festival
11  2005  ...                camra reading branch beer festival
12  2005  ...           siba south east region beer competition
13  2005  ...           siba south east region beer competition
14  2005  ...           siba south east region beer competition
15  2005  ...                             norwich beer festival
16  2006  ...                    siba national beer competition
17  2006  ...                camra reading branch beer festival
18  2006  ...           siba south east region beer competition
19  2007  ...                camra reading branch beer festival
20  2007  ...                camra reading branch beer festival
21  2007  ...                camra reading branch beer festival
22  2008  ...                camra reading branch beer festival
23  2008  ...                camra reading branch beer festival
24  2008  ...                camra reading branch beer festival
25  2009  ...                camra reading branch beer festival
26  2009  ...  camra london and south east regional competition
27  2009  ...  camra london and south east regional competition

[28 rows x 5 columns]

  game      date          team             location attendance   record
0   75   april 1       houston         us airways center 18422  41 - 34
1   76   april 3    sacramento         us airways center 18422  42 - 34
2   77   april 5        dallas  american airlines center 20301  42 - 35
3   78   april 8   new orleans         new orleans arena 17781  43 - 35
4   79  april 10       memphis                fedexforum 15908  43 - 36
5   80  april 11     minnesota             target center 18478  44 - 36
6   81  april 13       memphis         us airways center 18422  45 - 36
7   82  april 15  golden state               us airways center  46 - 36

  game      date          team             location attendance   record
0   75   april 1       houston         us airways center 18422  41 - 34
1   76   april 3    sacramento         us airways center 18422  42 - 34
2   77   april 5        dallas  american airlines center 20301  42 - 35
3   78   april 8   new orleans         new orleans arena 17781  43 - 35
4   79  april 10       memphis                fedexforum 15908  43 - 36
5   80  april 11     minnesota             target center 18478  44 - 36
6   81  april 13       memphis         us airways center 18422  45 - 36
7   82  april 15  golden state               us airways center  46 - 36

  game      date          team             location attendance   record
0   75   april 1       houston         us airways center 18422  41 - 34
1   76   april 3    sacramento         us airways center 18422  42 - 34
2   77   april 5        dallas  american airlines center 20301  42 - 35
3   78   april 8   new orleans         new orleans arena 17781  43 - 35
4   79  april 10       memphis                fedexforum 15908  43 - 36
5   80  april 11     minnesota             target center 18478  44 - 36
6   81  april 13       memphis         us airways center 18422  45 - 36
7   82  april 15  golden state               us airways center  46 - 36

  game      date          team             location attendance   record
0   75   april 1       houston         us airways center 18422  41 - 34
1   76   april 3    sacramento         us airways center 18422  42 - 34
2   77   april 5        dallas  american airlines center 20301  42 - 35
3   78   april 8   new orleans         new orleans arena 17781  43 - 35
4   79  april 10       memphis                fedexforum 15908  43 - 36
5   80  april 11     minnesota             target center 18478  44 - 36
6   81  april 13       memphis         us airways center 18422  45 - 36
7   82  april 15  golden state               us airways center  46 - 36

  game      date          team             location attendance   record
0   75   april 1       houston         us airways center 18422  41 - 34
1   76   april 3    sacramento         us airways center 18422  42 - 34
2   77   april 5        dallas  american airlines center 20301  42 - 35
3   78   april 8   new orleans         new orleans arena 17781  43 - 35
4   79  april 10       memphis                fedexforum 15908  43 - 36
5   80  april 11     minnesota             target center 18478  44 - 36
6   81  april 13       memphis         us airways center 18422  45 - 36
7   82  april 15  golden state               us airways center  46 - 36

  game      date          team             location attendance   record
0   75   april 1       houston         us airways center 18422  41 - 34
1   76   april 3    sacramento         us airways center 18422  42 - 34
2   77   april 5        dallas  american airlines center 20301  42 - 35
3   78   april 8   new orleans         new orleans arena 17781  43 - 35
4   79  april 10       memphis                fedexforum 15908  43 - 36
5   80  april 11     minnesota             target center 18478  44 - 36
6   81  april 13       memphis         us airways center 18422  45 - 36
7   82  april 15  golden state               us airways center  46 - 36

  game      date          team             location attendance   record
0   75   april 1       houston         us airways center 18422  41 - 34
1   76   april 3    sacramento         us airways center 18422  42 - 34
2   77   april 5        dallas  american airlines center 20301  42 - 35
3   78   april 8   new orleans         new orleans arena 17781  43 - 35
4   79  april 10       memphis                fedexforum 15908  43 - 36
5   80  april 11     minnesota             target center 18478  44 - 36
6   81  april 13       memphis         us airways center 18422  45 - 36
7   82  april 15  golden state               us airways center  46 - 36

  game      date          team             location attendance   record
0   75   april 1       houston         us airways center 18422  41 - 34
1   76   april 3    sacramento         us airways center 18422  42 - 34
2   77   april 5        dallas  american airlines center 20301  42 - 35
3   78   april 8   new orleans         new orleans arena 17781  43 - 35
4   79  april 10       memphis                fedexforum 15908  43 - 36
5   80  april 11     minnesota             target center 18478  44 - 36
6   81  april 13       memphis         us airways center 18422  45 - 36
7   82  april 15  golden state               us airways center  46 - 36

  game      date          team             location attendance   record
0   75   april 1       houston         us airways center 18422  41 - 34
1   76   april 3    sacramento         us airways center 18422  42 - 34
2   77   april 5        dallas  american airlines center 20301  42 - 35
3   78   april 8   new orleans         new orleans arena 17781  43 - 35
4   79  april 10       memphis                fedexforum 15908  43 - 36
5   80  april 11     minnesota             target center 18478  44 - 36
6   81  april 13       memphis         us airways center 18422  45 - 36
7   82  april 15  golden state               us airways center  46 - 36

  game      date          team             location attendance   record
0   75   april 1       houston         us airways center 18422  41 - 34
1   76   april 3    sacramento         us airways center 18422  42 - 34
2   77   april 5        dallas  american airlines center 20301  42 - 35
3   78   april 8   new orleans         new orleans arena 17781  43 - 35
4   79  april 10       memphis                fedexforum 15908  43 - 36
5   80  april 11     minnesota             target center 18478  44 - 36
6   81  april 13       memphis         us airways center 18422  45 - 36
7   82  april 15  golden state               us airways center  46 - 36

   rank                         name          nation sp + fs  points places
0     1              linda fratianne   united states       1  186.92     11
1     2                anett pötzsch    east germany       3  184.36     18
2     3                 emi watanabe           japan       4  180.52     31
3     4                  dagmar lurz    west germany       6  179.96     33
4     5             denise biellmann     switzerland       2  177.28     49
5     6           lisa - marie allen   united states       5  176.68     54
6     7  claudia kristofics - binder         austria       7  175.44     63
7     8               susanna driano           italy       9  173.46     70
8     9            carola weißenberg    east germany      11  170.54     88
9    10           kristiina wegelius         finland      15  169.26     98
10   11                  carrie rugh   united states      10  169.34     97
11   12              sanda dubravčić      yugoslavia       8  166.96    115
12   13            natalia strelkova    soviet union      16  164.94    134
13   14             deborah cottrill  united kingdom      20  164.80    136
14   15               karin riediger    west germany      17  164.50    142
15   16              renata baierova  czechoslovakia      13  164.00    144
16   17                 petra ernert    west germany      14  163.24    149
17   18                 kira ivanova    soviet union      12  164.02    147
18   19              janet morrissey          canada      18  162.04    162
19   20              reiko kobayashi           japan      21  161.30    170
20   21               jeanne chapman          norway      19  161.80    166
21   22              anita siegfried     switzerland      26  150.34    207
22   23      astrid jansen in de wal     netherlands      25  149.18    216
23   24              franca bianconi           italy      22  149.04    218
24   25                 bodil olsson          sweden      23  147.02    225
25   26                corine wyrsch     switzerland      27  146.76    233
26   27                  kim myo sil     north korea      24  145.48    237
27   28            belinda coulthard       australia      28  145.92    238
28   29               katie symmonds     new zealand      29  134.58    261
29   30                shin hae sook     south korea      30  120.44    270
30   31                   gloria mas           spain      31  112.28    279

   rank                         name          nation sp + fs  points places
0     1              linda fratianne   united states       1  186.92     11
1     2                anett pötzsch    east germany       3  184.36     18
2     3                 emi watanabe           japan       4  180.52     31
3     4                  dagmar lurz    west germany       6  179.96     33
4     5             denise biellmann     switzerland       2  177.28     49
5     6           lisa - marie allen   united states       5  176.68     54
6     7  claudia kristofics - binder         austria       7  175.44     63
7     8               susanna driano           italy       9  173.46     70
8     9            carola weißenberg    east germany      11  170.54     88
9    10           kristiina wegelius         finland      15  169.26     98
10   11                  carrie rugh   united states      10  169.34     97
11   12              sanda dubravčić      yugoslavia       8  166.96    115
12   13            natalia strelkova    soviet union      16  164.94    134
13   14             deborah cottrill  united kingdom      20  164.80    136
14   15               karin riediger    west germany      17  164.50    142
15   16              renata baierova  czechoslovakia      13  164.00    144
16   17                 petra ernert    west germany      14  163.24    149
17   18                 kira ivanova    soviet union      12  164.02    147
18   19              janet morrissey          canada      18  162.04    162
19   20              reiko kobayashi           japan      21  161.30    170
20   21               jeanne chapman          norway      19  161.80    166
21   22              anita siegfried     switzerland      26  150.34    207
22   23      astrid jansen in de wal     netherlands      25  149.18    216
23   24              franca bianconi           italy      22  149.04    218
24   25                 bodil olsson          sweden      23  147.02    225
25   26                corine wyrsch     switzerland      27  146.76    233
26   27                  kim myo sil     north korea      24  145.48    237
27   28            belinda coulthard       australia      28  145.92    238
28   29               katie symmonds     new zealand      29  134.58    261
29   30                shin hae sook     south korea      30  120.44    270
30   31                   gloria mas           spain      31  112.28    279

KeyboardInterrupt: ignored

Let's create a PyTorch dataloader based on this:

In [ ]:
# map to PyTorch tensors and only keep columns we need
test.set_format(type='torch', columns=['input_ids', 'attention_mask', 'token_type_ids', 'label'])
# create PyTorch dataloader
test_dataloader = torch.utils.data.DataLoader(test, batch_size=8)

We can verify whether everything is created correctly, for example by verifying their shapes and decoding the `input_ids` of the first example of the first batch:

In [ ]:
# let's check the first batch
batch = next(iter(test_dataloader))
#assert batch["input_ids"].shape == (4, 512)
#assert batch["attention_mask"].shape == (4, 512)
#assert batch["token_type_ids"].shape == (4, 512, 7)
tokenizer.decode(batch["input_ids"][0])

'[CLS] tony lema be in the top 5 for the master tournament, the us open, and the open championship [SEP] tournament wins top - 5 top - 10 top - 25 events cuts made masters tournament 0 1 2 4 4 4 us open 0 2 3 4 6 5 the open championship 1 2 2 2 3 3 pga championship 0 0 1 2 5 4 totals 1 5 8 12 18 16 [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD]'

## Run evaluation

Now we can compute the accuracy of TAPAS on the test set of TabFact! Incredible how easy 🤗 datasets makes this!

Note that this will take a couple of minutes. We set the batch size to only 4, to make sure a single GPU on Google Colab can handle this. You can increase it of course.

In [ ]:
from datasets import load_metric

accuracy = load_metric("accuracy")

print("Starting evaluation...")
number_processed = 0
total = len(test_dataloader) * batch["input_ids"].shape[0] # number of batches * batch_size

for batch in test_dataloader:
    # get the inputs
    input_ids = batch["input_ids"].to(device)
    attention_mask = batch["attention_mask"].to(device)
    token_type_ids = batch["token_type_ids"].to(device)
    labels = batch["label"].to(device)

    # forward pass
    outputs = model(input_ids=input_ids, attention_mask=attention_mask, token_type_ids=token_type_ids, labels=labels)
    model_predictions = outputs.logits.argmax(-1)

    # add metric
    accuracy.add_batch(predictions=model_predictions, references=labels)

    number_processed += batch["input_ids"].shape[0]
    if number_processed % 100 == 0:
      print(f"Processed {number_processed} / {total} examples")


final_score = accuracy.compute()

Starting evaluation...
Processed 200 / 12784 examples
Processed 400 / 12784 examples
Processed 600 / 12784 examples
Processed 800 / 12784 examples
Processed 1000 / 12784 examples
Processed 1200 / 12784 examples
Processed 1400 / 12784 examples
Processed 1600 / 12784 examples
Processed 1800 / 12784 examples
Processed 2000 / 12784 examples
Processed 2200 / 12784 examples
Processed 2400 / 12784 examples
Processed 2600 / 12784 examples
Processed 2800 / 12784 examples
Processed 3000 / 12784 examples
Processed 3200 / 12784 examples
Processed 3400 / 12784 examples
Processed 3600 / 12784 examples
Processed 3800 / 12784 examples
Processed 4000 / 12784 examples
Processed 4200 / 12784 examples
Processed 4400 / 12784 examples
Processed 4600 / 12784 examples
Processed 4800 / 12784 examples
Processed 5000 / 12784 examples
Processed 5200 / 12784 examples
Processed 5400 / 12784 examples
Processed 5600 / 12784 examples
Processed 5800 / 12784 examples
Processed 6000 / 12784 examples
Processed 6200 / 12784 examples
Processed 6400 / 12784 examples
Processed 6600 / 12784 examples
Processed 6800 / 12784 examples
Processed 7000 / 12784 examples
Processed 7200 / 12784 examples
Processed 7400 / 12784 examples
Processed 7600 / 12784 examples
Processed 7800 / 12784 examples
Processed 8000 / 12784 examples
Processed 8200 / 12784 examples
Processed 8400 / 12784 examples
Processed 8600 / 12784 examples
Processed 8800 / 12784 examples
Processed 9000 / 12784 examples
Processed 9200 / 12784 examples
Processed 9400 / 12784 examples
Processed 9600 / 12784 examples
Processed 9800 / 12784 examples
Processed 10000 / 12784 examples
Processed 10200 / 12784 examples
Processed 10400 / 12784 examples
Processed 10600 / 12784 examples
Processed 10800 / 12784 examples
Processed 11000 / 12784 examples
Processed 11200 / 12784 examples
Processed 11400 / 12784 examples
Processed 11600 / 12784 examples
Processed 11800 / 12784 examples
Processed 12000 / 12784 examples
Processed 12200 / 12784 examples
Processed 12400 / 12784 examples
Processed 12600 / 12784 examples

In [ ]:
!google-drive-ocamlfuse -cc

Clearing cache...done

# 新段落

In [ ]:
print("oringnal result:",final_score) #5000sample

oringnal result: {'accuracy': 0.715055910543131}

In [ ]:
print("zero embedding",final_score)

zero embedding {'accuracy': 0.590055910543131}

In [ ]:
print("5 times embedding",final_score)

5 times embedding {'accuracy': 0.5015974440894568}

In [ ]:
print("1.5 times embedding",final_score)

1.5 times embedding {'accuracy': 0.709464856230032}

In [ ]:
print("1.2 times embedding",final_score)

1.2 times embedding {'accuracy': 0.7138578274760383}

In [ ]:
print("1.1 times embedding",final_score)

1.1 times embedding {'accuracy': 0.7160543130990416}

In [ ]:
print("1.15 times embedding",final_score)

1.15 times embedding {'accuracy': 0.7140575079872205}

In [ ]:
print("result of shuflle columns",final_score)

result of shuflle columns {'accuracy': 0.7038738019169329}

In [ ]:
print("result of shuflle rows",final_score)

result of shuflle rows {'accuracy': 0.6721246006389776}

In [ ]:
print("result of shuflle cols&rows",final_score)

result of shuflle cols&rows {'accuracy': 0.6669329073482428}

In [ ]:
print("result of shuflle cols&rows with all samples",final_score)

result of shuflle cols&rows with all samples {'accuracy': 0.7197746302527585}

In [ ]:
print("result of shuflle cols with all samples",final_score)

result of shuflle cols with all samples {'accuracy': 0.7653181000078253}

In [ ]:
print("result of shuflle rows with all samples",final_score)

result of shuflle rows with all samples {'accuracy': 0.7229830190155724}

In [ ]:
print("oringinal result with all samples",final_score)

oringinal result with all samples {'accuracy': 0.7711871038422412}